.psproductcountdown .pspc-count.pspc-curr,
.psproductcountdown .pspc-count.pspc-bottom {
    display: none;
}

.psproductcountdown h4 {
    display: none;
}

.psproductcountdown .pspc-main {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
}

.pspc-countdown-wrp,
#product .pspc-countdown-wrp,
.product_list .pspc-countdown-wrp,
.ajax_block_product .pspc-countdown-wrp,
.product-miniature .pspc-countdown-wrp {
    background: url(../../img/clock-mini.png) no-repeat left center;
    background-size: 1.64em;
    padding-left: 2em;
    margin: 0 0 0.15em;
    text-align: left;
    height: 2.5em;
    line-height: 2.5em;
    color: #d80f00;
    position: relative;
    font-size: 1.1em;
    white-space: nowrap;
    display: inline-block;
}

.psproductcountdown .pspc-main,
#product .psproductcountdown .pspc-main,
.ajax_block_product .psproductcountdown .pspc-main,
.product_list .psproductcountdown .pspc-main,
.product-miniature .psproductcountdown .pspc-main {
    line-height: 1em;
    font-size: 1.2em;
    padding-top: 0.2em;
}

.psproductcountdown,
.ajax_block_product .psproductcountdown,
.product_list .psproductcountdown,
.product-miniature .psproductcountdown {
    padding-top: 0;
    padding-bottom: 0;
}

#product .psproductcountdown {
    padding: 2px 0;
}

.psproductcountdown .days-00 {
    display: none;
}

.product-miniature .psproductcountdown,
.ajax_block_product .psproductcountdown,
.product_list .psproductcountdown {
    padding: 2px 10px;
}

.product_list.list .psproductcountdown {
    padding: 2px 0;
}

.product_list.grid .psproductcountdown .pspc-main,
.product-miniature .psproductcountdown .pspc-main {
    text-align: center;
    display: block;
    width: 100%;
}

.product_list .psproductcountdown.over_img,
.ajax_block_product .psproductcountdown.over_img,
.product-miniature .psproductcountdown.over_img {
    background: rgba(255, 255, 255, 0.8);
    padding: 5px 5px;
}

.ajax_block_product .psproductcountdown.over_img .pspc-main,
.product_list .psproductcountdown.over_img .pspc-main,
.product-miniature .psproductcountdown.over_img .pspc-main {
    text-align: center;
    display: inline;
}

#product .psproductcountdown.displayProductButtons {
    padding: 2px 5px;
    text-align: left;
}

.psproductcountdown.pspc-show-promo-text .pspc_h,
.psproductcountdown.pspc-show-promo-text .pspc-offer-ends {
    display: inline-block;
}

.psproductcountdown.pspc-hide-promo-text .pspc-main br {
    display: none;
}

#product .psproductcountdown .pspc_h {
    margin-bottom: 0.4em;
}

#product .ajax_block_product .psproductcountdown .pspc_h, .ajax_block_product .psproductcountdown .pspc_h,
#product .product-miniature .psproductcountdown .pspc_h, .product-miniature .psproductcountdown .pspc_h,
#product .product_list .psproductcountdown .pspc_h, .product_list .psproductcountdown .pspc_h,
#product #product_list .psproductcountdown .pspc_h, #product_list .psproductcountdown .pspc_h {
    margin-bottom: 0;
}

.product_list .psproductcountdown,
#product_list .psproductcountdown,
.ajax_block_product .psproductcountdown,
.product-miniature .psproductcountdown {
    width: 100%;
}