.psproductcountdown .pspc-count.pspc-curr, .psproductcountdown .pspc-count.pspc-bottom {
    display: none;
}
.psproductcountdown h4 {
    display: none;
}
.psproductcountdown .pspc-main {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
}
.psproductcountdown .pspc-main br {
    display: none;
}

.product_list .psproductcountdown,
#product_list .psproductcountdown,
.ajax_block_product .psproductcountdown,
.product-miniature .psproductcountdown {
    width: 100%;
}

.psproductcountdown .pspc-main,
.ajax_block_product .psproductcountdown .pspc-main,
.product_list .psproductcountdown .pspc-main,
.product-miniature .psproductcountdown .pspc-main,
#product .psproductcountdown .pspc-main {
    background: url(../../img/clock-mini2.png) no-repeat left center;
    padding: 2px 0 3px 30px;
    margin: 0 0 3px;
    text-align: left;
    min-height: 24px;
    line-height: 24px;
    display: inline-block;
}

.pspc-countdown-wrp,
#product .pspc-countdown-wrp,
.ajax_block_product .pspc-countdown-wrp,
.product_list .pspc-countdown-wrp,
.product-miniature .pspc-countdown-wrp {
    color: #333;
    font-size: 1.1em;
    white-space: nowrap;
    display: inline-block;
    margin-bottom: 1px;
}

.psproductcountdown .pspc-main,
#product .psproductcountdown .pspc-main,
.ajax_block_product .psproductcountdown .pspc-main,
.product_list .psproductcountdown .pspc-main,
.product-miniature .psproductcountdown .pspc-main {
    line-height: 1em;
    font-size: 1.2em;
    display: inline;
}
.ajax_block_product .psproductcountdown,
.product_list .psproductcountdown,
.product-miniature .psproductcountdown {
    padding-top: 0;
    padding-bottom: 0;
}
.psproductcountdown .pspc_h,
#product .psproductcountdown .pspc_h,
.ajax_block_product .psproductcountdown .pspc_h,
.product_list .psproductcountdown .pspc_h,
.product-miniature .psproductcountdown .pspc_h {
    min-height: 24px;
    line-height: 24px;
    padding-left: 0.33em;
    padding-right: 0.33em;
}
#product .pb-center-column .psproductcountdown {
    text-align: left;
    padding-top: 0;
    padding-bottom: 3px;
}
.ajax_block_product .psproductcountdown,
.product_list .psproductcountdown,
.product-miniature .psproductcountdown,
#product .psproductcountdown.displayProductButtons  {
    padding: 2px 5px;
    text-align: left;
}
.psproductcountdown .days-00 {
    display: none;
}

.ajax_block_product .psproductcountdown.over_img .pspc-main,
.product_list .psproductcountdown.over_img .pspc-main,
.product-miniature .psproductcountdown.over_img .pspc-main {
    text-align: center;
    display: inline;
}
.product_list.grid .psproductcountdown {
    text-align: center;
}
.product_list.grid .psproductcountdown .pspc-main,
.product-miniature .psproductcountdown .pspc-main {
    text-align: center;
    display: inline;
}
.ajax_block_product .psproductcountdown.over_img,
.product_list .psproductcountdown.over_img,
.product-miniature .psproductcountdown {
    background: rgba(255, 255, 255, 0.8);
    padding: 5px 5px;
    text-align: center;
}
.psproductcountdown.pspc-show-promo-text .pspc_h,
.psproductcountdown.pspc-show-promo-text .pspc-offer-ends {
    display: inline-block;
}
div .product_list .psproductcountdown.pspc-over-img, div .product_list .psproductcountdown.custom_pspc-over-img,
div #product_list .psproductcountdown.pspc-over-img, div #product_list .psproductcountdown.custom_pspc-over-img,
div .ajax_block_product .psproductcountdown.pspc-over-img, div .ajax_block_product .psproductcountdown.custom_pspc-over-img,
div .product-miniature .psproductcountdown.pspc-over-img, div .product-miniature .psproductcountdown.custom_pspc-over-img {
    padding-top: 5px;
    padding-bottom: 5px;
}
#product .ajax_block_product .psproductcountdown, .ajax_block_product .psproductcountdown,
#product .product-miniature .psproductcountdown, .product-miniature .psproductcountdown,
#product .product_list .psproductcountdown, .product_list .psproductcountdown,
#product #product_list .psproductcountdown, #product_list .psproductcountdown {
    padding-left: 5px;
}