.psproductcountdown .pspc-count.pspc-curr, .psproductcountdown .pspc-count.pspc-bottom {
    display: none;
}
.psproductcountdown h4 {
    display: none;
}
.psproductcountdown .pspc-main br {
    display: none;
}

.product_list .psproductcountdown,
#product_list .psproductcountdown,
.ajax_block_product .psproductcountdown,
.product-miniature .psproductcountdown {
    width: 100%;
}

body .psproductcountdown .pspc-main,
body .ajax_block_product .psproductcountdown .pspc-main,
body .product_list .psproductcountdown .pspc-main,
body .product-miniature .psproductcountdown .pspc-main,
body#product .psproductcountdown .pspc-main {
    vertical-align: middle;
    margin: 0 0 3px;
    text-align: left;
    line-height: 1.5;
    display: inline-block;
    font-size: 1.1em;
}

.pspc-countdown-wrp,
#product .pspc-countdown-wrp,
.ajax_block_product .pspc-countdown-wrp,
.product_list .pspc-countdown-wrp,
.product-miniature .pspc-countdown-wrp {
    color: #333;
    font-size: 1.1em;
    white-space: nowrap;
    display: inline-block;
    margin-bottom: 1px;
}

.ajax_block_product .psproductcountdown,
.product_list .psproductcountdown,
.product-miniature .psproductcountdown {
    padding-top: 0;
    padding-bottom: 0;
}
.psproductcountdown .pspc_h,
#product .psproductcountdown .pspc_h,
.ajax_block_product .psproductcountdown .pspc_h,
.product_list .psproductcountdown .pspc_h,
.product-miniature .psproductcountdown .pspc_h {
    padding-left: 0.33em;
    padding-right: 0.33em;
    font-size: 0.9em;
}
#product .psproductcountdown .pspc_h {
    padding-left: 0;
}
#product .pb-center-column .psproductcountdown {
    text-align: left;
    padding-top: 0;
    padding-bottom: 3px;
}
.ajax_block_product .psproductcountdown,
.product_list .psproductcountdown,
.product-miniature .psproductcountdown,
#product .psproductcountdown.displayProductButtons  {
    padding: 2px 5px;
    text-align: left;
}
.psproductcountdown .days-00 {
    display: none;
}

.ajax_block_product .psproductcountdown.over_img .pspc-main,
.product_list .psproductcountdown.over_img .pspc-main,
#product_list .psproductcountdown.over_img .pspc-main,
.product-miniature .psproductcountdown.over_img .pspc-main {
    text-align: right;
    display: inline;
}
.product_list.grid .psproductcountdown {
    text-align: right;
}
.product_list.grid .psproductcountdown .pspc-main,
.product-miniature .psproductcountdown .pspc-main {
    text-align: center;
    display: inline;
}
#product .ajax_block_product .psproductcountdown.pspc-over-img, .ajax_block_product .psproductcountdown.pspc-over-img,
#product .product-miniature .psproductcountdown.pspc-over-img, .product-miniature .psproductcountdown.pspc-over-img,
#product .product_list .psproductcountdown.pspc-over-img, .product_list .psproductcountdown.pspc-over-img,
#product #product_list .psproductcountdown.pspc-over-img, #product_list .psproductcountdown.pspc-over-img {
    text-align: right;
}
.ajax_block_product .psproductcountdown.pspc_displayProductListReviews,
.product_list .psproductcountdown.pspc_displayProductListReviews,
.product-miniature .psproductcountdown.pspc_displayProductListReviews {
    text-align: center;
}
.psproductcountdown.pspc-show-promo-text .pspc_h,
.psproductcountdown.pspc-show-promo-text .pspc-offer-ends {
    display: inline-block;
}