#product .psproductcountdown {
    padding: 0;
}
#product .pb-center-column .psproductcountdown {
    padding-left: 0;
}
.psproductcountdown .pspc_h,
.psproductcountdown .pspc-offer-ends {
    margin-bottom: 0;
}

.product_list .psproductcountdown,
#product_list .psproductcountdown,
.ajax_block_product .psproductcountdown,
.product-miniature .psproductcountdown {
    width: 100%;
}

.pspc-main .pspc-time {
    font-weight: normal;
    margin: 0 1px 1.2em 1px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    display: inline-block;
    text-align: center;
    position: relative;
    height: 4.8em;
    width: 23%;
    max-width: 3.5em;
    -webkit-perspective: 479px;
    -moz-perspective: 479px;
    -ms-perspective: 479px;
    -o-perspective: 479px;
    perspective: 479px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.pspc-main .seconds {
    margin-right: 0;
}
.pspc-main .flip .pspc-count.pspc-curr.pspc-top {
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    -ms-transform: rotateX(-90deg);
    -o-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}
.pspc-main .pspc-count.pspc-curr.pspc-top {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
    z-index: 3;
}
.pspc-main .pspc-count.pspc-top {
    border-top: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.1);
    border-radius: 5px 5px 0 0;
    height: 50%;
    line-height: 2.2em;
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}
.pspc-main .pspc-count {
    font-weight: normal;
    background: #202020;
    color: #f8f8f8;
    display: block;
    font-family: 'Arial', sans-serif;
    font-size: 2.1em;
    line-height: 2.3em;
    overflow: hidden;
    position: absolute;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    top: 0;
    width: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform-style: flat;
    -moz-transform-style: flat;
    -ms-transform-style: flat;
    -o-transform-style: flat;
    transform-style: flat;
    border-right: 1px;
}
.pspc-main .flip .pspc-count.pspc-next.pspc-bottom {
    -webkit-transition: all 250ms ease-in-out 250ms;
    -moz-transition: all 250ms ease-in-out 250ms;
    -ms-transition: all 250ms ease-in-out 250ms;
    -o-transition: all 250ms ease-in-out 250ms;
    transition: all 250ms ease-in-out 250ms;
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
    line-height: 0;
}
.pspc-main .pspc-count.pspc-next.pspc-bottom {
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    transform: rotateX(90deg);
    z-index: 2;
    line-height: 0.1;
}
.pspc-main .pspc-count.pspc-bottom {
    background-image: linear-gradient(rgba(255,255,255,0.1), transparent);
    background-image: -webkit-linear-gradient(rgba(255,255,255,0.1), transparent);
    background-image: -moz-linear-gradient(rgba(255,255,255,0.1), transparent);
    background-image: -ms-linear-gradient(rgba(255,255,255,0.1), transparent);
    background-image: -o-linear-gradient(rgba(255,255,255,0.1), transparent);
    border-top: none;
    border-bottom: 1px solid #000;
    border-radius: 0 0 5px 5px;
    line-height: 0;
    height: 50%;
    top: 50%;
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    -o-transform-origin: 50% 0;
    transform-origin: 50% 0;
}
.pspc-main .pspc-label {
    font-size: 1em;
    margin-top: 5px;
    display: block;
    position: absolute;
    top: 4.4em;
    width: 100%;
    color: #202020;
    padding: 0;
    font-weight: normal;
}
.psproductcountdown.pspc-hide-promo-text {
    padding-top: 5px;
}

/* Colon: */
.psproductcountdown.pspc-2-dark.pspc-show-colon .pspc-main .pspc-count:after {
    display: none !important;
}
.psproductcountdown.pspc-2-dark.pspc-show-colon .pspc-main .pspc-count {
    overflow: hidden !important;
}

/* Compact view: */
.psproductcountdown.pspc-2-dark.compact_view .pspc-main .pspc-label {
    font-size: 0.8em;
    top: 4.4em;
}
.psproductcountdown.pspc-2-dark.compact_view .pspc-main .pspc-time {
    height: 4em;
    margin-bottom: 0.8em;
}
.psproductcountdown.pspc-2-dark.compact_view .pspc-main .pspc-count.pspc-top {
    line-height: 1.9em;
}
