@font-face {
    font-family: 'pspcdigits';
    src: url('../../fonts/digits-webfont.woff2') format('woff2'),
    url('../../fonts/digits-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.psproductcountdown {
    padding-bottom: 5px;
    background: transparent;
}

#product .psproductcountdown,
#product .pb-center-column .psproductcountdown {
    max-width: 31em;
    background: white;
    border-radius: 3px;
    box-shadow: 2px 2px 3px #ccc;
    text-align: center;
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
}

.product_list .psproductcountdown .pspc-main,
#product_list .psproductcountdown .pspc-main,
.ajax_block_product .psproductcountdown .pspc-main,
.product-miniature .psproductcountdown .pspc-main {
    width: 31em;
    max-width: 100%;
    margin: 0 auto;
}

.psproductcountdown h4.pspc-offer-ends {
    font-size: 1.5em;
    margin: 0 0 0.1em 0;
    padding: 0;
}

.product_list .psproductcountdown.pspc-over-img,
#product_list .psproductcountdown.pspc-over-img,
.ajax_block_product .psproductcountdown.pspc-over-img,
.product-miniature .psproductcountdown.pspc-over-img {
    background: rgba(255, 255, 255, 0.8);
    padding-top: 2px;
    border-top: 1px solid #d6d4d4;
    border-bottom: 1px solid #d6d4d4;
    width: 100%;
}

.psproductcountdown .pspc-offer-ends {
    display: block;
    margin-bottom: 0;
    font-weight: bold;
}

.psproductcountdown .pspc-main {
    margin-bottom: 0;
    white-space: nowrap;
}

.pspc-main .pspc-time {
    margin: 0 1px 1em 1px;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    position: relative;
    height: 3.6em;
    width: 24%;
    font-family: Arial, sans-serif;
}

.pspc-main .seconds {
    margin-right: 0;
}

.pspc-main .pspc-count {
    color: #333333;
    display: block;
    font-size: 3.3em;
    line-height: 1.2em;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    font-family: 'pspcdigits', monospace;
}

.pspc-main .pspc-highlight .pspc-count {
    color: #f13340;
}

.pspc-main .pspc-label {
    font-size: 0.9em;
    margin-top: 0.1em;
    display: block;
    position: absolute;
    top: 4.2em;
    width: 100%;
    color: #3f3f3f;
    padding: 0;
    font-weight: normal;
}
body .psproductcountdown.pspc-show-colon .pspc-main .pspc-count:after {
    right: -0.15em;
}

/* Compact view >> */
.psproductcountdown.pspc-5.compact_view .pspc-main .pspc-label {
    font-size: 0.8em;
}
.psproductcountdown.pspc-5.compact_view .pspc-main .pspc-time {
    height: 4em;
    margin-bottom: 0;
}
.psproductcountdown.pspc-5.compact_view .pspc-offer-ends {
    margin-bottom: -0.7em;
}
.psproductcountdown.pspc-5.compact_view .pspc-main .pspc-count {
    line-height: 1.9;
}
#product .psproductcountdown.pspc-5.compact_view,
.psproductcountdown.pspc-5.compact_view {
    padding: 0.05em 0;
}

/* Compact view << */

.pspc-time.flip .pspc-count {
    transition: opacity 0.25s;
}
.psproductcountdown .pspc-curr {
    opacity: 1;
}
.psproductcountdown .flip .pspc-curr {
    opacity: 0;
}
.psproductcountdown .pspc-next {
    opacity: 0;
}
.psproductcountdown .flip .pspc-next {
    opacity: 1;
}

body .psproductcountdown,
#product .psproductcountdown {
    padding: 0.5em 0 0.5em;
}