.psproductcountdown {
    font-weight: normal;
}
.psproductcountdown .pspc-count.pspc-curr,
.psproductcountdown .pspc-count.pspc-bottom {
    display: none;
}
.psproductcountdown h4 {
    display: none;
}
.psproductcountdown .pspc-main {
    display: block;
    vertical-align: middle;
    height: 2.9em;
}

.product_list .psproductcountdown,
#product_list .psproductcountdown,
#product .psproductcountdown,
.ajax_block_product .psproductcountdown,
.product-miniature .psproductcountdown,
body .psproductcountdown {
    background: url(../../img/clock.png) rgba(255, 255, 255, 0.8) no-repeat 1% center !important;
    background-size: 4.7em !important;
    -webkit-border-radius: 3.3em !important;
    -moz-border-radius: 3.3em !important;
    border-radius: 3.3em !important;
    border: 1px solid #dedede !important;
    margin: 0.2em 0.2em 0.3em 0 !important;
    height: 5.3em !important;
    text-align: left !important;
    display: inline-block;
    /*max-width: 100%;*/
    max-width: 21em;
    overflow: hidden;
    padding: 0.8em 0 0.8em 5.3em !important;
}
.product_list .pspc-wrp,
#product_list .pspc-wrp,
.ajax_block_product .pspc-wrp,
.product-miniature .pspc-wrp {
    text-align: center;
    overflow: hidden;
}

#product .psproductcountdown .pspc-main,
.ajax_block_product .psproductcountdown .pspc-main,
.product-miniature .psproductcountdown .pspc-main,
body .psproductcountdown .pspc-main {
    font-size: 1.8em;
    line-height: 1.2em;
    color: #232323;
    padding-right: 0.5em;
}
#product .psproductcountdown.pspc-hide-promo-text .pspc-main,
.ajax_block_product .psproductcountdown.pspc-hide-promo-text .pspc-main,
.product-miniature .psproductcountdown.pspc-hide-promo-text .pspc-main,
body .psproductcountdown.pspc-hide-promo-text .pspc-main {
    line-height: 2.7em;
}
body .psproductcountdown.pspc-long .pspc-main {
    font-size: 1em;
    line-height: 1.3;
    height: auto;
    text-align: center;
    display: block;
}
.product-miniature .psproductcountdown {
    padding-top: 5px;
    padding-bottom: 0;
}
#product .psproductcountdown .pspc_h,
.product-miniature .psproductcountdown .pspc_h,
.ajax_block_product .psproductcountdown .pspc_h,
body .psproductcountdown .pspc_h {
    font-size: 0.6em;
    line-height: 1;
    vertical-align: top;
    display: block;
}
body .psproductcountdown .pspc-main br {
    display: none;
}
#product .pb-center-column .psproductcountdown {
    text-align: center;
    padding-top: 0;
    padding-bottom: 3px;
}
.psproductcountdown .days-00 {
    display: none;
}

#product .displayFooterProduct {
    width: 21em;
    margin-top: 2rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.pspc-countdown-wrp {
    font-weight: bold;
    white-space: nowrap;
}
.psproductcountdown.pspc-hide-promo-text .pspc-countdown-wrp {
    margin-top: -0.4em;
}
.product-miniature .psproductcountdown.pspc-hide-promo-text .pspc-countdown-wrp,
.ajax_block_product .psproductcountdown.pspc-hide-promo-text .pspc-countdown-wrp,
.product_list .psproductcountdown.pspc-hide-promo-text .pspc-countdown-wrp {
    margin-top: -0.4em;
}
.psproductcountdown.pspc-hide-promo-text .pspc-main br {
    display: none;
}

@media (max-width: 370px) {
    body .psproductcountdown .pspc-main {
        font-size: 1.3rem;
    }
}

.product_list .pspc-wrp.pspc-valign-middle.pspc-wrp-over-img:before,
#product_list .pspc-wrp.pspc-valign-middle.pspc-wrp-over-img:before,
.ajax_block_product .pspc-wrp.pspc-valign-middle.pspc-wrp-over-img:before,
.product-miniature .pspc-wrp.pspc-valign-middle.pspc-wrp-over-img:before {
    margin-right: -0.35em; /* Adjusts for spacing */
}

body .psproductcountdown.pspc-long {
    background: rgba(255, 255, 255, 0.8) !important;
    height: auto !important;
    padding: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    border: none !important;
    margin: 0 !important;
}
body .psproductcountdown.pspc-long .pspc_h,
body .psproductcountdown.pspc-long .pspc-offer-ends {
    position: static;
}