.psproductcountdown .pspc-count.pspc-curr, .psproductcountdown .pspc-count.pspc-bottom {
    display: none;
}
.product_list .psproductcountdown,
#product_list .psproductcountdown,
#product .psproductcountdown,
.ajax_block_product .psproductcountdown,
.product-miniature .psproductcountdown,
body .psproductcountdown {
    padding-top: 0 !important;
    background: url(../../img/clock2.png) rgba(255, 255, 255, 0.8) no-repeat 99% center !important;
    background-size: 4.7em !important;
    height: 5.3em !important;
    padding-left: 1em !important;
    padding-right: 5.2em !important;
    text-align: center !important;
    -webkit-border-radius: 3.3em !important;
    -moz-border-radius: 3.3em !important;
    border-radius: 3.3em !important;
    border: 1px solid #b9b9b9 !important;
    margin: 0.1em 0.2em !important;
    overflow: hidden;
    display: inline-block;
    float: none;
}
body#product div .psproductcountdown,
body#product div .psproductcountdown .pspc-main {
    display: inline-block;
    float: none;
}
body .psproductcountdown.pspc-long {
    background: rgba(255, 255, 255, 0.8) !important;
    height: auto !important;
    padding: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    border: none !important;
    margin: 0 !important;
}
#product .pb-center-column .psproductcountdown {
    text-align: center;
    padding-top: 0;
    padding-bottom: 3px;
}

#product .psproductcountdown {
    padding-top: 0;
    max-width: 21em;
    margin-left: 0;
    margin-bottom: 10px !important;
}
#product .psproductcountdown.pspc-custom {
    width: auto;
}

.psproductcountdown .pspc-main {
    white-space: nowrap;
}

.pspc-main .pspc-time {
    margin: 0 1px 5px 1px;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    position: relative;
    height: 4em;
    width: 22%;
    min-width: 3.5em;
    max-width: 4em;
}
.pspc-main .seconds {
    margin-right: 0;
}
.pspc-main .pspc-count {
    color: #333333;
    display: block;
    font-family: 'Arial', sans-serif;
    font-size: 2em;
    line-height: 2em;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    height: 2em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-weight: normal;
}
.psproductcountdown.pspc-show-promo-text .pspc-main .pspc-count {
    line-height: 2.65em;
}
.psproductcountdown.pspc-show-promo-text .pspc-main .pspc-label {
    top: 3.3em;
}
.product_list .pspc-wrp,
#product_list .pspc-wrp,
.ajax_block_product .pspc-wrp,
.product-miniature .pspc-wrp {
    text-align: center;
    overflow: hidden;
}
.pspc-main .pspc-highlight .pspc-count {
    color: #af0404;
}
.pspc-main .pspc-label {
    font-size: 0.9em;
    margin-top: 0.5em;
    display: block;
    position: absolute;
    top: 3em;
    width: 100%;
    color: #9b9b9b;
    padding: 0;
    font-weight: normal;
}

#product .displayFooterProduct {
    margin-top: 2rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.psproductcountdown.pspc-show-promo-text .pspc_h,
.psproductcountdown.pspc-show-promo-text .pspc-offer-ends {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: left;
    padding-left: 4%;
}
body .psproductcountdown.pspc-long .pspc_h,
body .psproductcountdown.pspc-long .pspc-offer-ends {
    position: static;
}

.product_list .pspc-wrp.pspc-valign-middle.pspc-wrp-over-img:before,
#product_list .pspc-wrp.pspc-valign-middle.pspc-wrp-over-img:before,
.ajax_block_product .pspc-wrp.pspc-valign-middle.pspc-wrp-over-img:before,
.product-miniature .pspc-wrp.pspc-valign-middle.pspc-wrp-over-img:before {
    margin-right: -0.35em; /* Adjusts for spacing */
}

body .psproductcountdown.pspc-show-colon .pspc-main .pspc-count:after {
    right: -0.21em;
}

@media (min-width: 768px) and (max-width: 1199px) {
    .pspc-main .pspc-count {
        font-size: 1.5em;
        height: 45px;
    }
    .pspc-main .pspc-label {
        font-size: 0.7em;
    }
    .pspc-main .pspc-label {
        top: 28px;
    }
    .pspc-main .pspc-time {
        height: 45px;
        top: 4px;
    }
}