/**
 * Library for Lineven Prestashop Modules (Version 4.1.3)
 *
 * @author    Lineven
 * @copyright 2012-2020 Lineven
 * @license   http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 * International Registered Trademark & Property of Lineven
 */

/*****************************/
/**         TEMPLATE        **/
/*****************************/
#lineven-template { }
.lineven_in_tab { }
#lineven-template-navigation { }
#lineven-template-navigation .panel { padding:0!important; }
#lineven-template-navigation .panel .title { padding-top:10px; padding-left: 10px; font-weight: bold; }
#lineven-template-navigation .panel .panel-body { padding: 4px; }
#lineven-template-navigation .panel .panel-body .list-group { padding:0; margin: 0; }
#lineven-template-navigation .panel .panel-body .list-group .list-group-item { padding: 3px; padding-left: 15px; border: none!important; }
#lineven-template-navigation .panel .panel-body .list-group .list-group-item .icon,
#lineven-template-navigation .panel .list-group .list-group-item .icon { float: left; width: 18px; height: 18px; margin-top: 3px; }
#lineven-template-navigation .panel .panel-body .list-group .list-group-item .label,
#lineven-template-navigation .panel .list-group .list-group-item .label { padding: 0; margin-top: 0px; margin-left: 4px; color: #555; }
#lineven-template-navigation .panel .list-group .list-group-item .title-label { font-weight: bold; }
#lineven-template-navigation .panel .panel-body .list-group .active .label,
#lineven-template-navigation .panel .list-group .list-group-item .active { color: #fff!important; }
#lineven-template-navigation .panel .header a:before { font-family:'fontawesome'; content:"\f107"; float: right; color: grey; }
#lineven-template-navigation .panel .header a.collapsed:before { content:"\f105"; }
#lineven-template-navigation .panel .list-group .separator { margin-top: 2px; margin-bottom: 2px; }

#lineven-template-content { padding-left: 8px; padding-right: 8px;}
#lineven-template-content .breadcrumbs { }
#lineven-template-content .breadcrumbs .breadcrumb > li + li::before { font-family:'fontawesome'; content: "\f105"; }
#lineven-template-content .center { }
#lineven-template-content .mce-edit-area { min-height: 160px; }


/*****************************/
/**     MODALS              **/
/*****************************/
.lineven-dashboard-notification .modal-dialog,
.lineven-diagnostic-progression .modal-dialog { width: 667px; }
.lineven-dashboard-notification .modal-body,
.lineven-diagnostic-progression .modal-body { background-color: #FFFFFF; }
.lineven-dashboard-notification .modal-content,
.lineven-diagnostic-progression .modal-content { border-radius: 6px; -webkit-border-radius: 6px; -moz-border-radius: 6px; background-color: #FFFFFF; }
.lineven-dashboard-notification .modal-footer,
.lineven-diagnostic-progression .modal-footer { margin-top: 0px!important; border-bottom-left-radius: 6px; border-bottom-right-radius: 6px; -webkit-border-bottom-left-radius: 6px; -webkit-border-bottom-right-radius: 6px; -moz-border-radius-bottomleft: 6px; -moz-border-radius-bottomright: 6px; background-color: #FFFFFF; }
.lineven-dashboard-notification .modal-header,
.lineven-diagnostic-progression .modal-header { border-top-left-radius: 6px; border-top-right-radius: 6px; -webkit-border-top-left-radius: 6px; -webkit-border-top-right-radius: 6px; -moz-border-radius-topleft: 6px; -moz-border-radius-topright: 6px; background-color: #FFFFFF; }

.lineven-dashboard-notification .modal-header h4 { font-size: 1.8em; color: #1f5e9b; }
.lineven-dashboard-notification .modal-body .module_box { float: left; }
.lineven-dashboard-notification .modal-body .subtitle { margin-top: 18px; margin-bottom: 23px; font-size: 1.5em; }
.lineven-dashboard-notification .modal-body .module_name { color:#1f5e9b; }
.lineven-dashboard-notification .modal-body .signature { text-align: right; }
.lineven-dashboard-notification .modal-footer .notation { float: left; margin-top: 5px; }
.lineven-dashboard-notification .modal-footer .notation img { display: inline-block; margin-top: -3px; } 
.lineven-dashboard-notification .modal-footer .notation span { display: inline-block; font-size: 1.2em; margin-left: 8px; } 

#lineven-notification-upgrade .modal-dialog { width: 797px; }
#lineven-notification-upgrade .modal-dialog .lineven-upgrade-list li { margin-left: 230px; }

.lineven-upgrade-title { font-weight: bold; }
.lineven-upgrade-list { list-style:disc; }
.notification-upgrade-details .lineven-upgrade-list li { margin-left: 260px; }

/*****************************/
/**        DIAGNOSTIC       **/
/*****************************/
#lineven-diagnostic-progression .modal-header h4 { font-size: 1.8em; color: #1f5e9b; }
#lineven-diagnostic-progression .text { font-weight: bold; }
#lineven-diagnostic-report .technical,
#lineven-diagnostic-report .functional {
    margin-top: 13px;
    border: 1px solid #c3c7ca;
    padding: 15px;
}
#lineven-diagnostic-report .result,
#lineven-diagnostic-report .result .repair_results { margin-left: 13px; margin-bottom: 14px; }
#lineven-diagnostic-report .result .title { font-weight: bold; }
#lineven-diagnostic-report .result .message { margin-left: 13px; }
#lineven-diagnostic-report .actions { margin-left: 13px; }
#lineven-diagnostic-progression .success,
#lineven-diagnostic-report .success { color: #2ca02c; }
#lineven-diagnostic-report .information { color: #0d88c1; }
#lineven-diagnostic-report .critical { color: #dd514c; }
#lineven-diagnostic-report .warning { color: #db8600; }


/*****************************/
/**         ALERTS          **/
/*****************************/
.lineven-alerts {clear: both; }
.lineven-alerts .icon { float: left; padding-top: 3px; width: 18px; height: 18px; }
.lineven-alerts .message {font-weight: bold; }
.lineven-alerts UL {margin-top: 4px; }
.lineven-alerts UL LI {margin-left: 10px;}
.lineven-alerts-link-to-fix { font-weight: normal; text-align: right; }
.lineven-alerts-link-to-fix A { }
 

/*****************************/
/**     TABLE DETAILS       **/
/*****************************/
#lineven-table-details { vertical-align: top; }
#lineven-table-details .ltd-label, 
#lineven-table-details LABEL, 
#lineven-table-details .ltd-label-top { padding:0; padding-right: 8px; border: none; font-style : normal; font-weight: bold; width:1%; white-space: nowrap; vertical-align: middle!important; text-align: left; border: none; }
#lineven-table-details .ltd-label-top { vertical-align: top; }
#lineven-table-details .ltd-value { padding:0; font-style : normal; font-weight: normal; width:99%; white-space: nowrap; vertical-align: middle; text-align: left; border: none; }

/*****************************/
/**         TABS            **/
/*****************************/
.lineven-tabs-content {
    position:relative;
    border:1px solid #e9e9e9;
    padding:0 14px 10px;
    padding-top: 10px;
}
.lineven-tabs-nav li.active a { background-color: #cde5fe!important; }
.lineven-tabs-nav li a { background-color: #f1f8ff!important; }

/*****************************/
/**         ICON            **/
/*****************************/
.icon-fa-panel-heading {
    padding-left:5px;
}
.lineven-icon-toolbar {
    background: transparent;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto auto;
    background-position: 50%;
    background-size: 26px;
    display: block;
    font-size: 28px;
    height: 30px;
    margin: 0 auto;
    width: 30px;
}

/*****************************/
/**         ADS             **/
/*****************************/

#carousel-ads { height: 160px!important; }
.carousel-indicators { top: 160px!important; }
.lineven-ad { clear: both; cursor: pointer; }
.lineven-ad a { color: inherit!important; text-decoration: none; }
.lineven-ad a :hover { color: #00aff0; }
.lineven-ad .icon { margin-right:10px; float: left; }
.lineven-ad .name { font-weight: bold; }
.lineven-ad .separator { margin-top: 2px; margin-bottom: 2px; }

/*****************************/
/**         HELPER          **/
/*****************************/
.lineven-helper-list-identifier { width: 35px!important; }
.lineven-helper-list-position { width: 35px!important; }
.lineven-helper-list-width-80 { width: 80px!important; }