/**
 * Module CSS.
 *
 * AdditionalProductsOrder Merchandizing (Version 3.0.4)
 *
 * @author    Lineven
 * @copyright 2012-2020 Lineven
 * @license   http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * International Registered Trademark & Property of Lineven
 */

/*****************************/
/**     ASSOCIATIONS LIST   **/
/*****************************/
.lapo-associations-list.product-thumbnails { vertical-align: middle!important; clear: both; }
.lapo-associations-list.product-thumbnails > img { float: left; margin-right: 6px; }
.lapo-associations-list.product-thumbnails span.reference { font-style: italic; }
.lapo-associations-list.product-thumbnails span.text { font-weight: bold; }
.lapo-associations-list-text { font-style: italic; }
.lapo-associations-list-icon { display: inline-block; width:55px!important; height: 55px!important; padding-top: 15px!important; vertical-align: middle!important; text-align: center; margin-right: 10px;}
.lapo-associations-list-products-toggle-other {clear: both; float: right; margin-right: 30px; margin-top: 4px; }
.lapo-fa-disabled { opacity: 0.2; }
#table-lapo-associations-list .helper-list-options-icon {
    margin-right: 8px!important;
}
.tooltipster-sidetip.tooltipster-light.tooltipster-apo-associations-list-customized .tooltipster-box {
    max-width: 300px;
    background: #ffffff;
    border: 1px solid #9a9a9a;
    box-shadow: 5px 5px 2px 0 rgba(0,0,0,0.4);
    text-align: left;
}

/*****************************/
/**     DASHBOARD REPORT    **/
/*****************************/
.additionalproductsorder-dashboard-report .report_table { vertical-align: top; }
.additionalproductsorder-dashboard-report .report_table .ltd-label, 
.additionalproductsorder-dashboard-report .report_table LABEL, 
.additionalproductsorder-dashboard-report .report_table .ltd-label-top { padding:0; padding-right: 8px; border: none; font-style : normal; font-weight: bold; white-space: nowrap; vertical-align: middle!important; text-align: left; }
.additionalproductsorder-dashboard-report .report_table .ltd-label-top { vertical-align: top; }
.additionalproductsorder-dashboard-report .report_table .ltd-label-column { vertical-align: top; text-align: center!important; }
.additionalproductsorder-dashboard-report .report_table .ltd-value { min-width: 100px; text-align: center!important; padding:0; font-style : normal; font-weight: normal; white-space: nowrap; vertical-align: middle; border: none;}
