/**
 * TEMPLATE GLOBAL CSS
 */

.lineven-additionalproductsorder-section .card-block { padding-top: 14px!important; padding-bottom: 0px!important; }
.lineven-additionalproductsorder-section .header-hr { margin-top: 0px!important; }
.lineven-additionalproductsorder-section .buttons .material-icons { margin-right: 0px!important; }
.lineven-additionalproductsorder-section .lapo-cart-checkbox .material-icons { margin-right: 0px!important; }

/* Tooltip */
.lineven-additionalproductsorder-section .apo-product-extra .lapo-tooltip-content { display: none; }
.lineven-additionalproductsorder-section .apo-product-extra .lapo-tooltip-content .lapo-tooltip-content-product .lapo-tooltip-product-image { display: inline-block; }

/* Busy */
.apo-busyload-container, .apo-busyload-container-item {
    align-items: initial!important;
}
.apo-busyload-spinner {
    margin-top: 50px!important;
}

/* Tooltipster */
.tooltipster-sidetip.tooltipster-light.tooltipster-apo-customized .tooltipster-box {
    max-width: 195px;
    background: #ffffff;
    border: 1px solid #9a9a9a;
    box-shadow: 5px 5px 2px 0 rgba(0,0,0,0.4);
    text-align: center;
}
.tooltipster-sidetip.tooltipster-light.tooltipster-apo-customized .tooltipster-box .lapo-tooltip-content-product { padding: 10px;}
.tooltipster-sidetip.tooltipster-light.tooltipster-apo-customized .tooltipster-box .lapo-tooltip-content-product .lapo-tooltip-product-image img { margin:0 6px; border:1px solid #D0D1D5; width: inherit!important; }
.tooltipster-sidetip.tooltipster-light.tooltipster-apo-customized .tooltipster-box .lapo-tooltip-content-product .lapo-tooltip-product-description { margin-top: 18px; }
.tooltipster-sidetip.tooltipster-light.tooltipster-apo-customized .tooltipster-box .lapo-tooltip-content-product .lapo-tooltip-product-attribute-designation { margin-top: 8px; font-style: italic; }
