/**
 * THUMBNAILS CSS
 */

.lineven-additionalproductsorder-section .thumbnails {margin-top: 10px;}
.lineven-additionalproductsorder-section .thumbnails .clear { clear: both; }
.lineven-additionalproductsorder-section .thumbnails .header-title { }
.lineven-additionalproductsorder-section .thumbnails .header-hr { margin-bottom: 15px; }
.lineven-additionalproductsorder-section .thumbnails ul.apo-products { clear:both; list-style-type:none;  padding:0 15px; }
.lineven-additionalproductsorder-section .thumbnails ul.apo-products li.apo-product { float: left; padding:3px; text-align: center; font-weight:bold; line-height:18px; margin: 0!important; margin-bottom:12px!important; }
.lineven-additionalproductsorder-section .thumbnails ul.apo-products li.apo-product .product {}
.lineven-additionalproductsorder-section .thumbnails ul.apo-products li.apo-product .product-image {}
.lineven-additionalproductsorder-section .thumbnails ul.apo-products li.apo-product img { margin:0 6px; border:1px solid #D0D1D5; width: inherit!important; display: inline-block!important; }
.lineven-additionalproductsorder-section .thumbnails ul.apo-products li.apo-product .container-description { display: inline-block; text-align:center; margin-left:4px; }
.lineven-additionalproductsorder-section .thumbnails ul.apo-products li.apo-product .container-description .product-name { font-size:1em; display: inline-block; font-weight: bold; text-align: center; margin-top: 4px; }
.lineven-additionalproductsorder-section .thumbnails ul.apo-products li.apo-product .container-description .product-name a { color:#595A5E; text-decoration: none; }
.lineven-additionalproductsorder-section .thumbnails ul.apo-products li.apo-product .container-description .product-name a:hover { text-decoration: underline; }
.lineven-additionalproductsorder-section .thumbnails ul.apo-products li.apo-product .product-description { position: relative!important; height: inherit!important; width: inherit!important; background: none!important; font-size:0.8em; margin-top: 3px; font-weight:normal; text-transform: none; text-align:center;}
.lineven-additionalproductsorder-section .thumbnails ul.apo-products li.apo-product .container-description .product-description a { text-decoration: none; color: inherit!important; }
.lineven-additionalproductsorder-section .thumbnails ul.apo-products li.apo-product .container-description .product-description a:hover { text-decoration: none; }
.lineven-additionalproductsorder-section .thumbnails ul.apo-products li.apo-product .container-description .product-attribute-designation { font-size:0.6em; font-weight: bold; margin-top: 2px; margin-bottom: 3px;}
.lineven-additionalproductsorder-section .thumbnails ul.apo-products li.apo-product .product-options { height: 20px; font-size:10px; text-transform:none; font-weight: bold; font-style: italic;}
.lineven-additionalproductsorder-section .thumbnails ul.apo-products li.apo-product .product-price { display: block!important; text-align:center; font-size:1em; }
.lineven-additionalproductsorder-section .thumbnails ul.apo-products li.apo-product .product-price .old-price { font-size:1em!important; }
.lineven-additionalproductsorder-section .thumbnails ul.apo-products li.apo-product .product-price .price-percent-reduction { font-size: 1em!important;}
.lineven-additionalproductsorder-section .thumbnails ul.apo-products li.apo-product .product-price .current-price { font-size: 1.1em!important; display: inline-block; }
.lineven-additionalproductsorder-section .thumbnails ul.apo-products li.apo-product .product-price .price { }
.lineven-additionalproductsorder-section .thumbnails ul.apo-products li.apo-product .buttons { display: inline-block; margin-top: 4px; text-align:center; }

/* Extra products specificities */
.lineven-additionalproductsorder-section .apo-product-extra .thumbnails ul.apo-products li.apo-product { border: 1px solid transparent; padding-left:0!important; padding-right:0!important; }
.lineven-additionalproductsorder-section .apo-product-extra .thumbnails ul.apo-products li.apo-product .lapo-cart-checkbox { text-align: center; width: 100%;  min-height: 52px; }
.lineven-additionalproductsorder-section .apo-product-extra .thumbnails ul.apo-products li.apo-product-checked { background-color: #ebf5fb; border: 1px solid #c7d6db;  border-radius: 6px; }
.lineven-additionalproductsorder-section .apo-product-extra .thumbnails ul.apo-products li.apo-product .product-container {  display: inline-block; }
.lineven-additionalproductsorder-section .apo-product-extra .thumbnails ul.apo-products li.apo-product .product-price { font-size:0.9em; margin-top: 4px; }
.lineven-additionalproductsorder-section .apo-product-extra .thumbnails ul.apo-products li.apo-product .product-price .old-price { font-size:0.9em!important; }
.lineven-additionalproductsorder-section .apo-product-extra .thumbnails ul.apo-products li.apo-product .product-price .price-percent-reduction { font-size: 0.9em!important;}
.lineven-additionalproductsorder-section .apo-product-extra .thumbnails ul.apo-products li.apo-product .product-price .current-price { font-size: 1em!important; display: inline-block; margin-top: 3px; }
.lineven-additionalproductsorder-section .apo-product-extra .thumbnails ul.apo-products li.apo-product .product-price .has-discount .discount { display: inline; font-size: 0.9em!important; }
.lineven-additionalproductsorder-section .apo-product-extra .thumbnails ul.apo-products li.apo-product .buttons { display: block!important; margin-top: 4px; text-align:center; }

@media only screen and (max-width: 640px)
{
    .lineven-additionalproductsorder-section .thumbnails ul.apo-products li.apo-product { float: none!important; }
}

/* Homecomments reviews */
.lineven-additionalproductsorder-section .thumbnails .reviews { text-align:center; }
.lineven-additionalproductsorder-section .thumbnails .reviews .partner_average_star { display: inline-block; }
.lineven-additionalproductsorder-section .thumbnails .reviews .partner_details { clear: both; display: block; font-size: 0.8em; font-weight: normal; }

/* Prestashop Products reviews */
.lineven-additionalproductsorder-section .thumbnails .hook-reviews { display: block; text-align:center; clear: both; height: 18px; }
.lineven-additionalproductsorder-section .thumbnails .hook-reviews .product-list-reviews { position: relative!important; top: -3px!important; background: none!important; }
