.error_message,.error_message1  {
    color: red !important;
    
}
.error_field {
    border: 1px solid red !important;
}

/* CSS for Tabs */
.kb_custom_tabs {
    width: 100%;
}

.kb_custom_tabs a {
    color: #555;
}

.kb_custom_tab {
    width: 19.6%;
}
.kb_custom_tab_last {
    width: 25%;
}
.kb_custom_panel {
    position: relative;
    border: solid 1px #d3d8db;
    background-color: #fff;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.kb_custom_tab i {
    padding-right: 5px; 
}
.kb_custom_tabs input[type='radio'] {
    display: none;
}
.kb_custom_tabs a {
    display: inline-block;
    padding: 15px 18px;
    font-size: 15px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 0px;
}
.kb_custom_tabs a:hover {
    cursor: pointer;
    color: #959595;
    text-decoration: none;
}
.kb_custom_tabs a.kb_active {
    background: #ff7c21;
    color: #fff;
    box-shadow: 0px 0px 10px #ff7c21;
}

.kb_custom_tabs a.kb_active::after {
    content: "";
    width: 0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #ff7c21;
    position: absolute;
    bottom: -10px;
    margin-left: -6%;
}

.kb_custom_tabs a.kb_active#kbsf_config_link::after {
    left: 10%;
}

.kb_custom_tabs a.kb_active#kbsl_pickup_time::after {
    left: 35%;
}

.kb_custom_tabs a.kb_active#kbsl_email_notification::after {
    left: 55%;
}
.kb_custom_tabs a.kb_active#kbsl_importer::after {
    left: 75%;
}
.kb_custom_tabs a.kb_active#kbsl_setting_link::after {
    left: 95%;
}

