/*
 * Custom code goes here.
 * A template should always ship with an empty custom.css
 */

/******HEADER********/

h1 {
  font-size: 1.6rem;
}
.green {
  color: #00a4a9;
}
.gas-light {
  color: #a1d7c8;
}
.blue {
  color: #0154a6 !important;
}
.blue-mobil {
  color: #0154a6 !important;
}
.blue-mobil span {
  border-left: 4px dotted #a1d7c8;
  padding-left: 14px;
}
.gas {
  color: #4ec0d9 !important;
}
.cbp-horizontal .cbp-tab-title {
  text-transform: capitalize;
}
.hero-content {
  border-bottom: 1px solid #f3f3f3;
}
.hero-text p {
  font-size: 1rem;
  font-weight: bold;
}
#desktop_logo .logo {
  padding-left: 1rem;
}
main {
  margin-top: 0;
  margin-bottom: 0;
}
#header .container {
  max-width: 1420px; 
}
#wrapper {
  padding-bottom: 0; 
}
#module-kbstorelocatorpickup-stores nav.breadcrumb[data-depth="1"] {
  display: block !important;
}
/*mobile menu*/
#iqitmegamenu-mobile {
  margin-top: 0 !important;
}
.col-mobile-menu-push #_mobile_iqitmegamenu-mobile {
  width: 100%;
}
.closeMenuMobile {
  display: grid;
}
.menu-close .close {
  font-size: 0.8rem;
  font-weight: 200;
  opacity: 1 !important;
}
.menu-close .close span {
  font-size: 4rem;
  float: right;
}
/******/
.cbp-hrmenu .cbp-hrsub-inner {
  padding: 0;
}
.cbp-hrmenu .cbp-menu-column {
  margin-top: 0;
  padding: 0;
}
.cbp-horizontal > ul > li > a,
.cbp-horizontal > ul > li > a:not([href]):not([tabindex]),
.cbp-horizontal > ul > li > .cbp-main-link {
  padding-left: 0.7rem;
  padding-right: 0.7rem;
}
 
.cbp-hrmenu .cbp-hrsub-inner > .row:last-child,
.cbp-hrmenu .cbp-hrsub-inner .iqitmegamenu-submenu-container > .row:last-child {
  margin-bottom: 0;
}
.left-nav {
  background-color: #0154a6;
  padding-bottom: 4px;
  padding-top: 4px;
}
.redes-nav-content {
  margin-right: 1rem;
}
.redes-nav {
      width: 25px; 
    margin: 0 5px;
}
.redes-nav img:hover {
  filter: opacity(0.5);
  cursor: pointer;
}
.rte-content ul {
  list-style-type: none;
  padding: 0;
}
.right-nav {
  align-items: center;
  justify-content: center;
}
.btn-small {
  color: #fff !important;
  padding: 0.1rem 1rem;
  border-radius: 2px;
  background-color: #00aed7;
  border-color: #00aed7;
  font-size: 14px;
  font-weight: bold;
}

.btn-small:hover {  
    background-color:transparent;
    border-color: #00aed7; 
}

.elementor-button  { 
    border:1px solid #00aed7;
}
.elementor-button:hover {
    background-color: transparent!important;
    border:1px solid #00aed7;
}
.text-top {
  font-size: 14px;
}
.text-resalt {
  font-weight: bold;
  color: #4ec0d9;
  font-size: 1.2rem;
}
.text-resalt-precio {
  font-size: 16px;
  font-weight: bold;
}
.svg-menu {
  width: 75%;
}
#header-search-btn .fa-btn-search {
  padding-top: 4px;
}
#header-user-btn .fa-btn-login {
  width: 27%;
  padding-right: 5px;
}
#header-search-btn span,
#cart-toogle .info-wrapper span {
  display: none !important;
}
#header .header-btn-w .header-btn {
  display: flex;
}
.fa-angle-down:before {
  color: #00a4a9;
}
.page-header {
  display: none !important;
}
#iqitmegamenu-mobile {
  margin-top: 29px;
}
.card-img-menu,
.card-img-menu-cocina {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: calc(0.25rem - 1px);
  background-image: url(/img/cms/svg/bg-txt-category.svg);
  background-position: left;
  background-position-y: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: 53% 43%;
  transition: 0.4s;
}
.cont-category-menu {
  position: absolute;
  right: 5rem;
  bottom: 0;
  left: 1rem;
  transition: 0.4s;
}
.card-img-menu-cocina:hover,
.card-img-menu:hover {
  background-image: none;
  background-color: #2ab0cdd4;
  transition: 0.4s;
}
.card-img-menu-cocina:hover .cont-category-menu,
.card-img-menu:hover .cont-category-menu {
  bottom: 3rem;
  transition: 0.4s;
}
.card-img-inmob-menu {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: calc(0.25rem - 1px);
  background-image: url(/img/cms/svg/bg-inm-menu.svg);
  background-position: left;
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: 62% 69%;
  transition: 0.4s;
}
.cont-simulador-ahorro-menu {
  position: absolute;
  right: 13rem;
  bottom: 1rem;
  left: 2rem;
  transition: 0.4s;
}
.card-img-inmob-menu:hover {
  background-image: none;
  background-color: #2ab0cdd4;
  transition: 0.4s;
}
.card-img-inmob-menu:hover .cont-simulador-ahorro-menu {
  bottom: 3rem;
  transition: 0.4s;
}
.cont-simulador-ahorro-menu-gas {
  position: absolute;
  right: 13rem;
  bottom: 2.5rem;
  left: 2rem;
  transition: 0.4s;
}
.card-img-inmob-menu-soluc {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: calc(0.25rem - 1px);
  background-image: url(/img/cms/svg/bg-inm-menu.svg);
  background-position: left;
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: 62% 69%;
  transition: 0.4s;
}
.card-img-inmob-menu-soluc:hover {
  background-image: none;
  background-color: #2ab0cdd4;
  transition: 0.4s;
}
.card-img-inmob-menu-soluc:hover .cont-simulador-ahorro-menu-gas {
  bottom: 4rem;
  transition: 0.4s;
}
/*********** HOMEPAGE **********/
.h1title:after {
  content: "";
  bottom: 0;
  display: block;
  height: 16px;
  border-bottom: 4px dotted #a1d7c8;
  width: 18%;
  margin: 0 auto;
  left: 0;
  right: 0;
}
.h2title:after {
  content: "";
  bottom: 0;
  display: block;
  height: 26px;
  border-bottom: 4px dotted #a1d7c8;
  width: 9%;
  margin: 0 auto;
  left: 0;
  right: 0;
}
.line-aghaso:after {
  content: "";
  display: block;
  border-bottom: 4px dotted #a1d7c8;
}
.line-left:after {
  content: "";
  bottom: 0;
  display: block;
  height: 16px;
  border-bottom: 4px dotted #a1d7c8;
  width: 15%;
}
.btn-line:before {
  content: "";
  display: block;
  height: 0;
  border-bottom: 4px dotted #a1d7c8;
  margin: 25px 6px -25px 0;
  margin-right: 60%;
}
.btn-line:after {
  content: "";
  display: block;
  height: 0;
  border-bottom: 4px dotted #a1d7c8;
  margin: -20px 6px 20px 0px;
  margin-left: 60%;
}
.btn-trans {
  background: transparent;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  border: 2px solid #a1d7c8;
  border-radius: 4px;
}
.btn-trans:hover {
  color: #fff !important;
  /*font-weight: 700;*/
  background: #a1d7c8;
}
.btn-store {
  background: transparent;
  color: #fff;
  font-size: 12px;
  border: 1px solid #4ec0d9;
  border-radius: 4px;
  font-weight: bold;
}
.btn-store:hover {
  color: #fff;
  background: #4ec0d9;
}
.btn-trans-blue {
  background: transparent;
  color: #0154a6;
  font-size: 12px;
  border: 2px solid #a1d7c8;
  border-radius: 4px;
  font-weight: bold;
}
.btn-trans-blue:hover {
  color: #0154a6;
  font-weight: bold;
}
.btn-blue-aghaso {
  background: #0154a6;
  color: #fff;
  border-radius: 6px;
}
.btn-blue-aghaso:hover {
  border: 1px solid #0154a6;
  background: transparent;
  color: #0154a6;
}
.btn-green-aghaso {
  background: #00a4a9;
  color: #fff;
  border: 1px solid #00a4a9;
  border-radius: 6px;
  padding: 10px;
}
.btn-green-aghaso:hover {
  background: transparent;
  color: #00a4a9;
  border: 1px solid #00a4a9;
}
.btn-white-trans-aghaso {
  color: #fff;
  border: 1px solid;
  border-radius: 6px;
}
.btn-white-trans-aghaso:hover {
  color: #121212;
  background: #fff;
}
.btn-link-read-cok {
  color: #fff;
}
.btn-link-read-cok:hover {
  color: #fff;
  font-weight: bold;
}
.btn-link-read-cok:hover::after {
  border-bottom: 1px solid #fff;
  bottom: 0;
  content: " ";
  left: 0;
  position: absolute;
  right: 0;
  width: 15px;
  margin: 0 auto;
  font-weight: bold;
}
.btn-primary,
.btn-primary.disabled,
.btn-primary:disabled {
  border-radius: 6px;
}
.heading-nosotros .elementor-iqit-banner-content { 
  border-left: 4px dotted #a1d7c8;
  padding-left: 14px;
}
.content-nosotros .elementor-image-box-content {
  border-left: 4px dotted #a1d7c8;
  padding-left: 14px;
}
.heading-pages h1 {
  border-left: 4px dotted #4ec0d9;
  padding-left: 14px;
}
.cont-fqa {
  border-left: 4px dotted #a1d7c8;
  padding-left: 14px;
}
.acordeon-servi_soporte .elementor-accordion .elementor-accordion-item {
  border: 0;
  background: #fff;
  margin-bottom: 10px;
}
.acordeon-servi_soporte .elementor-accordion .elementor-accordion-title {
  padding: 30px 30px;
  font-weight: 700;
  line-height: 1;
  cursor: pointer;
}
.acordeon-servi_soporte
  .elementor-accordion
  .elementor-accordion-title
  .elementor-accordion-icon
  .fa:before {
  color: #00a4a9;
}
.acordeon-servi_soporte .elementor-accordion-title.active {
  background: #0154a6;
  color: #fff;
}
.acordeon-enlaces .elementor-accordion .elementor-accordion-item {
  border: 1px solid #f3f3f3;
  border-radius: 6px;
}
.acordeon-enlaces .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #0154a6;
  background-color: transparent;
}
.acordeon-enlaces .elementor-accordion .elementor-accordion-title {
  color: #00a4a9;
  background-color: #ffffff;
  border-radius: 4px 4px 0px 0px;
}
.acordeon-enlaces a {
  color: #777;
}
.text-enlaces {
  border-left: 4px dotted #a1d7c8;
  padding-left: 14px;
}
.text-soluciones {
  border-left: 4px dotted #a1d7c8;
  padding-left: 14px;
}
.clip-path-top {
  clip-path: polygon(
    54% 27%,
    92% 22%,
    105% 32%,
    119% 80%,
    88% 80%,
    52% 81%,
    24% 81%,
    0 83%,
    -11% 3%,
    11% 28%
  );
  margin-top: -50px;
}
.disc {
  list-style-type: disc !important;
  padding-left: 20px !important;
}
.disc li {
  color: #0154a6;
}
.disc li span {
  color: #777;
}
.cont-contact img {
}
.b-dotted:after {
  content: "";
  bottom: 0;
  display: block;
  height: 14px;
  border-bottom: 4px dotted #a1d7c8;
}
#iqitpopup .iqit-close-checkbox {
  padding: 3px;
  font-size: 16px;
}
#iqitpopup .iqitpopup-close {
  top: 1rem;
  right: 0.5rem;
  background: transparent;
  color: #0154a6;
}
#iqitpopup .iqit-close-popup {
  background: transparent;
  width: 80px;
}
#iqitpopup .cross:before {
  display: none;
}
#iqitpopup .cross:after {
  content: url(/img/cms/svg/cerrar.svg);
  display: block;
  font-family: "FontAwesome";
  font-size: 17px;
  color: #4ec0d9;
}
#iqitpopup-overlay {
  background-color: #0154a6;
}
#iqitpopup .iqitpopup-newsletter-form {
  padding: 25px 10px;
  background: transparent;
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  border-top: 1px solid #f3f3f3;
}
.iqitpopup-newsletter-form .form-control {
  background-color: #fff;
  color: #777;
  border: solid 1px #00aed7;
  border-radius: 6px;
}
.iqit-btn-newsletter {
  color: #fff;
  background: #00a4a9;
  border-radius: 6px;
  border: solid 1px #00a4a9;
  padding: 3rem;
}
.iqit-btn-newsletter:hover {
  color: #00a4a9;
  background: transparent;
  border-radius: 6px;
  border: solid 1px #00a4a9;
}
#iqitpopup .iqitpopup-newsletter-form .button-medium {
  padding-top: 7px;
  padding-bottom: 7px;
}
#iqitpopup {
  border-radius: 14px;
}
#iqitpopup .iqitpopup-content {
  padding: 0;
}
.img-welcome img {
  border-radius: 14px 0 0 0;
}
#iqitcookielaw {
  bottom: 0;
  left: 0;
}
#v-pills-tabContent .fade,
#simulador .fade {
  background: transparent;
}
/*********** FORMULARIO ETS_CFULTIMATE **********/
.wpcfu .form-control {
  background-color: #f1f1f1;
  color: #777;
  border: solid 1px #f3f3f3;
  border-radius: 6px;
}

.wpcfu h3 {
    color: #0156a7;
}
.wpcfu .number_select,
.l-reclam h3,
#wpcfu-f3-o1 h3,
#wpcfu-f5-o1 h3 {
  display: none;
}
span.ets_cfu_span {
  margin-bottom: 5px;
  font-size: 11px;
}
.wpcfu .form-control:not(.ets_cfu-file):not(.ets_cfu-select) {
  height: 33px;
}
.wpcfu select.form-control:not([size]):not([multiple]) {
  height: 33px;
}
.ets_cfu_form-control.ets_cfu-submit {
  padding: 10px 20px;
}
.ets_cfu_input_acceptance label {
  display: flex;
}
.politicas .wpcfu-list-item {
  margin: 0px 15px 0px 15px;
}
.text-small {
  font-size: 12px;
}
.ets_cfu_col textarea {
  min-height: 100px;
}
.fade {
  background: #0154a661;
}
 
.form-control-select,
select {
  background-image: none;
}
/*********** PRODUCT **********/
.product-functional-buttons-links .btn-iqitcompare-add,
.product-functional-buttons-links .btn-iqitwishlist-add {
  display: none !important;
}
#js-product-list-header .page-title {
  display: none;
}
#search_filters .facet,
#search_filters_brands .facet,
#search_filters_suppliers .facet {
  padding-top: 1rem;
  border: 1px solid #f3f3f3;
  padding: 1rem;
  border-radius: 6px;
  margin-top: 10px;
}
#category .block-title a,
.facet-title {
  color: #00a4a9 !important;
}
#search_widget .input-group > .custom-select:not(:last-child),
.input-group > .form-control:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-radius: 6px;
}
#search_filters .facet:first-child,
#search_filters_brands .facet:first-child,
#search_filters_suppliers .facet:first-child {
  padding: 10px;
}
.products-grid .product-miniature-layout-1 {
  border: 1px solid #f3f3f3;
  border-radius: 6px;
}
.btn-product-list {
  padding: 0.3928571429rem 0.7857142857rem;
  background: rgba(0, 0, 0, 0);
  color: #00aed7;
  border: solid 1px #f3f3f3;
  border-radius: 6px;
  margin-bottom: -26px;
  background: #fff;
}
.product-description .product-title:after {
  content: "";
  bottom: 0;
  display: block;
  height: 14px;
  border-bottom: 4px dotted #a1d7c8;
  width: 9%;
  margin: 0 auto;
  left: 0;
  right: 0;
}
.images-container-left .product-images {
  margin: 1.5rem 0;
  margin-right: 0rem;
}
.slick-vertical .slick-slide {
  border: 1px solid #f3f3f3f3;
  border-radius: 6px;
  margin: 2px;
}
.nav-tabs .nav-link {
  opacity: 1;
  color: #0154a6;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
  color: #00a4a9;
  border-bottom: solid 3px #00a4a9;
}
.product_header_container .page-title {
  color: #0154a6;
}
#_desktop_blockcart-content .modal-title {
  color: #00a4a9;
}
#_desktop_blockcart-content .cart-title hr {
  border-top: 4px dotted #a1d7c8;
}
.cart-subtotals .products .label {
  color: #5b5e62;
}
.cart-subtotals .products .value {
  color: #0154a6;
  font-weight: bold;
}
#blockcart-content .cart-subtotals,
.ps-shoppingcart.side-cart #blockcart-content .cart-products {
  border-top: 1px solid #ececec;
}
#blockcart-content .cart-products > li {
  border-bottom: 0;
}
#blockcart-content .btn-secondary,
#blockcart-content .btn-secondary.disabled,
#blockcart-content .btn-secondary:disabled {
  background: transparent;
  color: #0154a6;
  border: 1px solid #00a4a9;
  border-radius: 6px;
}
#_desktop_blockcart-content .close {
  font-size: 1.1rem;
}
.col-info span {
  color: #00a4a9;
}
.product_header_container {
  border-left: 4px dotted #f7951f;
  padding-left: 14px;
}
.product_header_container .page-title span {
  color: #0154a6;
}
.product_header_container .product-price {
  color: #00a4a9;
}
.product-manufacturer.float-right {
  float: none !important;
  padding-bottom: 10px;
}
.product-variants
  .custom-select2
  select.form-control:not([size]):not([multiple]) {
  border-radius: 6px;
}
.custom-select2::after {
  color: #00a4a9;
}
.product-additional-info {
  border: 1px solid hsla(0, 0%, 63%, 0.25);
  padding: 1rem;
}
.social-sharing {
  margin-bottom: 0;
  display: inline-flex;
}
.social-sharing:before {
  content: "Compartir";
  padding-right: 10px;
}
.social-sharing li {
  padding: 2px;
}
.social-sharing .facebook,
.social-sharing .twitter,
.social-sharing .pinterest {
  border: 1px solid #00a4a9;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  text-align: center;
}
.social-sharing .fa-pinterest-p::before,
.social-sharing .fa-twitter::before,
.social-sharing .fa-facebook::before {
  color: #0154a6;
}
.cart-products-count-btn {
  background: transparent;
  color: #0154a6;
}
.ps-shoppingcart .cart-products-count-btn {
  font-size: 1rem;
  top: 4px;
  right: -10px;
  font-weight: bold;
  font-style: normal;
}
.pagination .page-list li.current {
  border-color: #0054ae;
  background: #0054ae;
}
.pagination .page-list li.current a {
  color: #fff;
}
.pagination-wrapper-bottom {
  border-top: 0;
  margin-top: 2rem;
  padding-top: 1rem;
  margin-bottom: 2rem;
}
.pagination .page-list li:hover {
  border-color: #00a4a9;
}
#js-product-list .pagination-wrapper-bottom .justify-content-between {
  justify-content: center !important;
}
.product-info-row {
  border-bottom: 1px solid #f1f1f1;
}
.col-product-info {
  border-left: 1px solid #f1f1f1;
}
.product-accessories .section-title {
  text-align: center !important;
  color: #0154a6 !important;
}
.product-accessories .section-title:after {
  border-bottom: 0 !important;
}
#checkout #content-wrapper .page-title {
  color: #0154a6;
}
#content-wrapper .page-title:after {
  border-bottom: 4px dotted #a1d7c8;
}
#content-wrapper .page-title {
  color: #0154a6;
}
.form-control {
  border-radius: 6px;
}
#checkout .input-group > .input-group-append > .btn {
  border-radius: 0px 6px 6px 0px;
}
#checkout .input-group > .form-control:not(:last-child) {
  border-radius: 6px 0px 0px 6px;
}
.cart-summary-line.cart-total {
  color: #00a4a9;
}
body#checkout section.checkout-step {
  border-radius: 6px;
  margin-top: 0.3rem;
}
#order-items .totals {
  color: #00a4a9;
}
.modal.show .modal-content {
  border-radius: 6px;
}
.quickview-info h1 {
  font-size: 1.5rem;
}
.quickview-info h1 > a {
  color: #0154a6 !important;
}
.product-miniature-default .product-flags {
  left: 77%;
  top: 4px;
}
.product-flags .discount,
.product-flags .on-sale {
  color: #fff;
  width: 50px;
  height: 50px;
  background: #f7951f;
  position: relative;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 50%;
  font-size: 0.7rem;
  font-weight: bold;
  align-items: center;
  padding-top: 16px;
}
.product-miniature li.product-flag:before {
  content: "";
  position: absolute;
  right: 10%;
  top: 32px;
  width: 0;
  height: 0;
  border-left: 37px solid #f7951f;
  border-top: 0px solid transparent;
  border-bottom: 24px solid transparent;
}
.product-cover li.product-flag::before {
  content: "";
  position: absolute;
  right: 13%;
  top: 32px;
  width: 0;
  height: 0;
  border-right: 37px solid #f7951f;
  border-top: 0 solid transparent;
  border-bottom: 24px solid transparent;
}

/* Productos Complementos */
.lineven-additionalproductsorder-section .apo-products, .lineven-additionalproductsorder-section .products {
  display: flex;
}
.lineven-additionalproductsorder-section .header-title{
  font-size: 1.5rem;
  color: #004b9c;
}
.lineven-additionalproductsorder-section { 
    margin-bottom: 3rem;
}

/*********** FOOTER **********/
#iqithtmlandbanners-block-1 {
  background: #00a4a9;
  padding: 1rem;
  margin-bottom: 1rem;
}
#footer-container-main {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.top-footer {
  text-align: center;
}
.top-footer .caption span {
  color: #fff;
  font-size: 1rem;
}
.top-footer .caption p {
  font-size: 1rem;
  line-height: 20px;
  padding-top: 3px;
}
.top-footer img {
  width: 50px;
}
#iqithtmlandbanners-block-1 .first,
#iqithtmlandbanners-block-4 .first {
  display: none;
}
#footer .block {
  padding-bottom: 0;
}
#footer .block-title {
  font-weight: 400;
  margin-bottom: 0.5rem;
}
.cont-footer-top li {
  padding-right: 4rem;
}
.footer-center h5 {
  color: #4ec0d9;
  font-weight: 400;
  font-size: 1.2rem;
}
.footer-center ul {
  border-left: 4px dotted #4ec0d9;
  padding-left: 14px;
  margin-bottom: 0.8rem;
}
.w-35 {
  width: 35% !important;
}
#footer .ps-emailsubscription-block .newsletter-input-group {
  border: 1px solid #4ec0d9;
  background: transparent;
  border-radius: 6px;
}
#footer .ps-emailsubscription-block .newsletter-input-group .btn-subscribe {
  color: #fff;
  border-left: 1px solid #4ec0d9;
}
#footer
  .ps-emailsubscription-block
  .newsletter-input-group
  .btn-subscribe:hover {
  color: #fff;
  background: #4ec0d9;
  border-radius: 0px 3px 3px 0px;
}
.input-subscription::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #fff !important;
  font-size: 10px;
  padding-left: 5px;
}
.input-subscription:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #fff !important;
  font-size: 10px;
  padding-left: 5px;
  opacity: 1; /* esto es porque Firefox le reduce la opacidad por defecto */
}
.input-subscription::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #fff !important;
  font-size: 10px;
  padding-left: 5px;
  opacity: 1;
}
.input-subscription:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff !important;
  font-size: 10px;
  padding-left: 5px;
}
.text-info-subs {
  font-size: 11px;
  color: #fff;
}
.text-info-subs span {
  font-size: 10px;
  color: #4ec0d9;
}
.ps-emailsubscription-block h5 {
  color: #4ec0d9;
  font-weight: 400;
  font-size: 1.2rem;
}
.ps-emailsubscription-block {
  padding: 0rem 1rem 0rem 2rem;
}
.content-subscription {
  border-left: 4px dotted #4ec0d9;
  padding-left: 14px;
}
.t-payment {
  padding-right: 0.5rem;
}
.t-payment img {
  width: 75%;
}
.copyright-txt-w {
  color: #fff;
  margin: 0;
  font-size: 11px;
}
.copy-footer img {
  width: 40%;
}
.copy-footer img:hover {
  filter: opacity(0.5);
  cursor: pointer;
}
.footer-center h5,
.ps-emailsubscription-block h5 {
  font-size: 1.2rem;
}
.footer-center .nav-list li > a {
  font-size: 0.8rem;
}
.footer-center .nav-list li > p {
  font-size: 0.8rem;
}
.footer-center .nav-list li {
  padding-bottom: 0.2rem;
}
.nav-list .fa-envelope-o {
  color: #a1d7c8;
  width: 23px;
  height: 23px;
  padding: 5px;
  background: #458d9c59;
  border-radius: 50%;
}
.nav-list .fa-phone {
  color: #a1d7c8;
  width: 23px;
  height: 23px;
  padding: 6px;
  background: #458d9c59;
  border-radius: 50%;
}
.nav-list .fa-map-marker {
  color: #a1d7c8;
  width: 23px;
  height: 23px;
  padding: 6px 0px 0px 8px;
  background: #458d9c59;
  border-radius: 50%;
}

.ps-emailsubscription-block .fa-file-text {
   color: #a1d7c8;
    width: 30px;
    height: 30px;
    padding: 6px 0px 0px 9px;
    background: #458d9c59;
    border-radius: 50%;
}
.ComplaintBookFooter{
    font-size: 0.9rem;
}
.footer-center .nav-list .contact {
  padding-bottom: 1rem;
}
/*********** CATEGORIAS *********/
.block-categories ul > [data-depth="0"] {
  margin-bottom: 16px;
  border: 1px solid #f3f3f3;
  border-radius: 6px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.block-categories ul > [data-depth="0"] > a {
  color: #1badb2 !important;
}
.block-categories ul > [data-depth="1"] > a {
  color: #0154a6 !important;
}
.block-categories ul > [data-depth="0"] > a:before {
  content: none;
}
.category-top-menu .collapse-icons {
  top: 8px;
  padding-right: 0.5rem;
}
.card-img-overlay {
  border-radius: calc(0.25rem - 1px);
  background-image: url(/img/cms/svg/bg-txt-category.svg);
  background-position: left;
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: 78% 43%;
  transition: 0.4s;
}
.card-img-overlay:hover {
  background-image: none;
  background-color: #2ab0cdd4;
  transition: 0.4s;
}
.card-img-overlay:hover .cont-category {
  bottom: 6rem;
  transition: 0.4s;
}
.cont-category {
  position: absolute;
  right: 5rem;
  bottom: 3rem;
  left: 1rem;
  transition: 0.4s;
}
/*********** SIMULADOR AHORRO - FINANCIA PRODUCT *********/
.card-img-proyect-inm {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}
.card-img-proyect-inm {
  border-radius: calc(0.25rem - 1px);
  background-image: url(/img/cms/svg/bg-inm.svg);
  background-position: left;
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: 48% 60%;
  transition: 0.4s;
}
.card-img-proyect-inm:hover {
  background-image: none;
  background-color: #2ab0cdd4;
  transition: 0.4s;
}
.card-img-proyect-inm:hover .cont-simulador-ahorro,
.card-img-proyect-inm:hover .cont-financ {
  bottom: 6rem;
  transition: 0.4s;
}
.cont-simulador-ahorro {
  position: absolute;
  right: 13rem;
  bottom: 4rem;
  left: 2rem;
  transition: 0.4s;
}
.cont-financ {
  position: absolute;
  right: 13rem;
  bottom: 4rem;
  left: 2rem;
  transition: 0.4s;
}
.cont-text-financia-product,
.cont-text-simulador-ahorro {
  border-left: 4px dotted #a1d7c8;
  padding-left: 14px;
}
.simulador-ahorro-icon img,
.cont-financia-product-icon img {
  width: 15%;
}
.text-simulador-ahorro,
.text-financia-product {
  font-size: 1.2rem;
}
.text-small-financia-product,
.text-small-simulador-ahorro {
  font-size: 0.8rem;
  line-height: 16px;
}
.category-cocina-content,
.category-lavanderia-content,
.category-climatizacion-content,
.category-refrigeracion-content {
  margin-top: -220px;
}
.cont-text-category {
  border-left: 4px dotted #a1d7c8;
  padding-left: 14px;
}
.cont-category-img img {
  width: 30%;
}
.text-category {
  font-size: 1.5rem;
  padding-bottom: 8px;
  line-height: 24px;
}
.text-small-category {
  display: none;
  font-size: 1rem;
  line-height: 18px;
}
.card {
  border: 0;
}
/*****NOVEDADES - BLOG*********/
#prestablogfront,
.prestablogExtra {
  border: 0;
  border-right: 4px dotted #a1d7c8;
}
#blog_list_1-7 li:hover .block_cont .block_top {
  padding: 0;
}
#blog_list_1-7 .prestablog_more {
  background-color: transparent;
}
#blog_list_1-7 a.blog_link:hover,
#blog_list_1-7 .comments:hover,
#blog_list_1-7 a.blog_link:hover::before,
#blog_list_1-7 .comments:hover::before {
  background-color: transparent;
}
#blog_list_1-7 .block_bas h3 a,
#blog_list_1-7 .block_bas .h3title a {
  color: #0154a6;
}
#blog_list_1-7 .block_cont {
  border: 0;
  border-radius: 6px;
}
#blog_list_1-7 .block_top img,
#blog_list_1-7 a,
.block_cont,
#blog_list_1-7 li * {
  border-radius: 6px 6px 0px 0px;
}
#blog_list_1-7 a:hover,
.block_cont:hover,
.block_bas:hover h3 a,
#blog_list_1-7 li:hover * {
  color: #fff !important;
  cursor: pointer;
}
.date_blog_aghaso {
  position: absolute;
  background: #17a2b8;
  padding: 5px 45px 10px 80px !important;
  color: #fff;
  background: url(/img/cms/svg/bg-date-blog.svg) center center / contain
    no-repeat scroll;
}
.block-categories {
  border: 1px solid #f3f3f3;
  border-radius: 6px;
  margin-top: 15px;
}
.block-categories .title_block {
  color: #00a4a9;
  border-bottom: 1px solid #f3f3f3;
  padding: 15px;
}
.block-categories .block_content {
  padding: 15px;
}
.block-categories .block_content .form-control {
  background-color: #fff;
  color: #c4c4c4;
  border: solid 1px #f3f3f3;
  border-radius: 6px;
}
#prestablog_bloc_search #prestablog_search {
  background: transparent none repeat scroll 0 0;
}
#prestablog_bloc_search .btn.button-search {
  background: transparent none repeat scroll 0 0;
  border-left: 1px solid #f3f3f3;
}
#prestablog_bloc_search .btn.button-search::after {
  content: " ";
  background: url(/img/cms/svg/search.svg) no-repeat scroll;
  position: absolute;
  width: 32px;
  height: 32px;
  top: 8px;
  left: 8px;
}
.page-home .prestablog .title {
  display: none;
}
#blog_list_1-7 .block_top {
  width: 100%;
  position: relative;
  clip-path: polygon(
    15% 0,
    100% 0,
    100% 96%,
    74% 94%,
    45% 97%,
    22% 99%,
    0 95%,
    0 0
  );
}
#blog_list_1-7 .blog-grid .block_bas {
  padding: 50px 20px 10px 50px;
}
#blog_list_1-7 li:hover .block_cont .block_bas {
  padding: 50px 20px 10px 50px;
}
#blog_list_1-7 .prestablog_more {
  padding: 0px 0px 30px 40px;
}

#blog_list_1-7 .prestablog_more:hover {
  padding: 0px 0px 30px 40px;
}
/***********STORE*****************/
.card-img-store {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}
.cont-info-store {
  position: absolute;
  bottom: 0rem;
}
.text-store {
  font-size: 1.3rem;
  line-height: 24px;
}
#more-store {
  display: none;
}
.link-stores img:hover {
  filter: opacity(0.5);
  cursor: pointer;
}
.text-small-store {
  font-size: 0.7rem;
  margin: 0;
  line-height: 1.8;
}
.our-stores:hover img {
  filter: opacity(0.5);
  transition: 0.4s;
  cursor: pointer;
}
.header-store-locator .titlestore{
  color: #00a4a9;
  padding-left: 1rem;
}
.velo_add_name{
  font-size: 1rem;
  color:#0154a6;
  font-weight: bold;
}

.velo-location-list ul li .velo-directions-button {
    background: none;
    color: #00a4a9;
    cursor: pointer;
}

.velo-location-list ul li a.velo-directions-link {
   background: none;
    border-radius: 2px;
    color: #00a4a9;
}

.velo-location-list ul li a.velo-directions-link i{
   display: none;
}

.velo-location-list {
    background: #fff;
}

.velo-store-filters {
    display: none;
}
 .velo-location-list ul li {
    background-image: none!important;
    padding-left: 10px;
} 

#kb-store-image .img-thumbnail {
    padding: 0;
    width: 100%;
}
/*****RESPONSIVE*********/

/* Retina Displays/Screens (2880x1800) --------------------- */
/*@media
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 2dppx) {
.card-img-overlay {
   padding: 3rem;
    padding-right: 15rem;
    padding-top: 44.5rem!important;
}

}*/
@media (min-width: 1920px) {
  .card-img-inmob-menu {
    padding: 3rem;
    padding-right: 31rem;
    padding-top: 15rem;
  }
  .card-img-inmob-menu-soluc {
    padding-left: 2rem;
    padding-right: 31rem;
    padding-top: 15rem;
  }
  .card-img-menu {
    padding: 1rem;
    padding-right: 9rem;
    padding-top: 23rem;
  }
  .card-img-menu-cocina {
    padding-left: 2rem;
    padding-right: 9rem;
    padding-top: 22rem;
  }
  .text-simulador-ahorro,
  .text-financia-product {
    font-size: 1.5rem;
    padding-bottom: 6px;
    line-height: 24px;
  }
  .text-small-financia-product,
  .text-small-simulador-ahorro {
    font-size: 1rem;
    line-height: 20px;
  }
  .cont-category {
    right: 14rem;
    bottom: 8rem;
  }
  /* revlution slider*/
  .tp-mask-wrap {
    margin-left: -1rem !important;
    margin-top: -1rem !important;
  }
}
@media (min-width: 1440px) {
}
@media (min-width: 992px) {
  .modal-lg,
  .modal-xl {
    max-width: 900px !important;
  }
}
@media (max-width: 991px) {
}
@media (min-width: 768px) {
  .text-category {
    font-size: 1.2rem;
  }
  .text-small-category {
    font-size: 0.8rem;
  }
  .text-small-store {
    font-size: 0.7rem;
    margin: 0;
    line-height: 1.8;
  }
  .card-img-proyec-inmob {
  }
  .tp-mask-wrap {
    margin-left: -1rem;
    margin-top: -1rem;
  }
}
@media (max-width: 767px) {
  .text-simulador-ahorro,
  .text-financia-product {
    font-size: 0.8rem;
    line-height: 15px;
  }
  #footer .block-toggle > .rte-content {
    opacity: 1;
    visibility: visible;
    height: auto;
  }
  .btn-line:before {
    margin-right: 70%;
  }
  .btn-line:after {
    margin-left: 70%;
  }
  .ps-emailsubscription-block {
    order: 1;
  }
  #iqithtmlandbanners-block-4 {
    order: 0;
  }
  .text-small-store {
    font-size: 0.6rem;
    margin: 0;
    line-height: 1.8;
  }
  .text-store {
    font-size: 1rem;
    line-height: 24px;
  }
}
@media (max-width: 600px) {
  .redes-nav-content {
    padding: 0.3rem;
  }
  .cont-simulador-ahorro,
  .cont-financ {
    bottom: 1rem;
  }
}
@media (max-width: 480px) {
  .card-img-proyec-inmob {
  }
  .card-img-overlay .btn-trans,
  .card-img-proyec-inmob .btn-trans {
    padding: 0.4rem 0.5rem;
  }
  .redes-nav-content {
    padding: 0.3rem;
  }
  .cont-simulador-ahorro,
  .cont-financ {
    bottom: 1rem;
  }
  .cont-category {
    right: 9rem;
    bottom: 3rem;
  }
  .ps-shoppingcart .cart-products-count-btn {
    top: 12px;
    right: -2px;
  }
}
@media (max-width: 384px) {
  .left-nav {
    padding-left: 0;
    padding-right: 0;
  }
  .text-resalt,
  .text-resalt-precio {
    font-size: 0.8rem;
  }
  .redes-nav-content {
    padding: 0.3rem;
  }
  .cont-category {
    right: 6rem;
    bottom: 1rem;
  }
  .text-category {
    font-size: 1.2rem;
    line-height: 20px;
  }
  .text-small-category {
    font-size: 0.8rem;
    line-height: 16px;
  }
  .cont-simulador-ahorro,
  .cont-financ {
    right: 0rem;
    left: 1rem;
    bottom: 1rem;
  }
  .text-simulador-ahorro,
  .text-financia-product {
    font-size: 0.8rem;
    line-height: 15px;
  }
  .ps-shoppingcart .cart-products-count-btn {
    top: 12px;
    right: -2px;
  }
}
@media (max-width: 320px) {
  .cont-category {
    right: 6rem;
    bottom: 0rem;
  }
  .text-category {
    font-size: 1.2rem;
    line-height: 20px;
  }
  .text-small-category {
    font-size: 0.8rem;
    line-height: 16px;
  }
  .card-img-proyect-inm {
    background-size: 66% 67%;
  }
  .cont-simulador-ahorro,
  .cont-financ {
    right: 0rem;
    left: 1rem;
  }
  .card-img-overlay .btn-trans,
  .card-img-proyec-inmob .btn-trans {
    padding: 0.4rem 0.5rem;
  }
  .text-simulador-ahorro,
  .text-financia-product {
    font-size: 0.8rem;
    line-height: 15px;
  }
  .left-nav {
    padding-left: 0;
    padding-right: 0;
  }
  .redes-nav-content {
    padding: 0.3rem;
  }
  .ps-shoppingcart .cart-products-count-btn {
    top: 12px;
    right: -2px;
  }
}

/****************************/
#module-idxrprivatedownloads-downloads a.border_bottom {
  color: #00a4a9 !important;
}

.cbp-horizontal > ul > li.cbp-hropen > a,
.cbp-horizontal > ul > li.cbp-hropen > a:not([href]):not([tabindex]),
.cbp-horizontal > ul > li.cbp-hropen > a:hover,
.cbp-horizontal > ul > li.cbp-hropen > a:active  {
  background: url(/img/cms/iconos/bg-btn-menu.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
}


#module-idxrprivatedownloads-downloads .fade:not(.show) {
    opacity: 1;
}

#module-idxrprivatedownloads-downloads  #tab-content{
	margin-bottom: 1.5rem;
}

.title-zone-privated{
    text-align: center;
    margin: 2rem;
    color: #0154a6;
    }