#pspc-countdowns-list td {
    /*padding: 7px;*/
}
#BACKGROUND_IMAGE-images-thumbnails img {
    width: 200px;
}
div .pspc-themes-wrp .theme-item {
    position: relative;
    top: -10px;
    padding-bottom: 10px;
    display: inline-block;
    float: none;
    margin-right: -5px;
}
.theme-item label {
    cursor: pointer;
}
.themes-wrp-15 {
    padding-left: 260px;
}
.themes-wrp-15 .theme-item {
    display: inline-block;
}
.themes-wrp-15 .theme-item label {
    text-align: left;
}
.themes-wrp-15 .theme-item label * {
    vertical-align: middle;
}
.themes-wrp-15 .theme-item label input {
    margin-right: 10px;
}
#pspc-instructions ul {
    list-style: inside disc;
}
input.pspc-datepicker {
    cursor: pointer !important;
}
.add-countdown-wrp .countdown-form {
    border: 2px dashed #ccc;
    padding: 10px 10px 0;
    margin-top: 10px;
}
.edit-countdown-wrp {
    border: 2px dashed #ccc;
    padding: 10px 10px 0;
}
#pspc-category .prf-checkbox input,
#pspc-product .prf-checkbox input,
#pspc-manufacturer .prf-checkbox input {
    vertical-align: top;
}
#pspc-category .prf-checkbox label,
#pspc-product .prf-checkbox label,
#pspc-manufacturer .prf-checkbox label {
    font-weight: normal;
}
#apr-products-to-process {
    list-style: none;
    padding: 10px 0;
}
#apr-products-to-process li {
    padding-bottom: 1px;
}
.add-countdown-wrp .countdown-form {
    display: none;
    position: relative;
}
.countdown-form {
    position: relative;
}
.close-countdown-form {
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    position: absolute;
    right: 15px;
    bottom: 10px;
}
.close-edit-product-countdown-form {
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 10px;
}
.pspc-loader {
    background: url("../img/loadingAnimation.gif") no-repeat center center rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
}
#product_countdown_list_wrp,
#category_countdown_list_wrp,
#manufacturer_countdown_list_wrp {
    position: relative;
}
.pspc-product-edit-form-wrp,
.pspc-category-edit-form-wrp,
.pspc-manufacturer-edit-form-wrp {
    border: 1px dashed #ccc;
    padding: 5px;
    margin-top: 5px;
    position: relative;
}
#pspc-product .prf-edit-checkbox label,
#pspc-category .prf-edit-checkbox label,
#pspc-manufacturer .prf-edit-checkbox label {
    font-weight: normal;
}
#pspc-product .prf-edit-checkbox input,
#pspc-category .prf-edit-checkbox input,
#pspc-manufacturer .prf-edit-checkbox input {
    vertical-align: middle;
}
.ppefw-hint {
    margin-bottom: 4px;
    display: block;
}
.pspc-product-edit-form-wrp,
.pspc-category-edit-form-wrp,
.pspc-manufacturer-edit-form-wrp {
    display: none;
}
#add-product-countdown,
#add-category-countdown,
#add-manufacturer-countdown {
    text-transform: uppercase;
}
.pspc-category-edit {
    cursor: pointer;
}
.change-countdown-status,
.change-category-countdown-status,
.change-manufacturer-countdown-status {
    cursor: pointer;
}
.pspc-edit-field-wrp,
.bootstrap .table .pspc-edit-field-wrp {
    display: none;
}
#pspc-product.ps15 .row,
#pspc-category.ps15 .row,
#pspc-manufacturer.ps15 .row {
    background: none;
}
#pspc-product.ps15 .form-group,
#pspc-category.ps15 .form-group,
#pspc-manufacturer.ps15 .form-group {
    overflow: hidden;
    padding-bottom: 5px;
}
#pspc-product.ps15 .pspc-datepicker,
#pspc-category.ps15 .pspc-datepicker,
#pspc-manufacturer.ps15 .pspc-datepicker {
    z-index: 0;
}
#pspc-product.ps15 [class^="col-lg-"],
#pspc-category.ps15 [class^="col-lg-"],
#pspc-manufacturer.ps15 [class^="col-lg-"] {
    display: inline-block;
}
#pspc-product.ps15 [class^="pspc_reduction_tax"],
#pspc-category.ps15 [class^="pspc_reduction_tax"],
#pspc-manufacturer.ps15 [class^="pspc_reduction_tax"] {
    display: none;
}
#pspc-category.ps15 .treeview {
    background: #fff;
}
#pspc-product.ps15 .table,
#pspc-category.ps15 .table,
#pspc-manufacturer.ps15 .table {
    width: 100%;
}

#pspc-product.ps15 i.icon-remove:before,
#pspc-category.ps15 i.icon-remove:before,
#pspc-manufacturer.ps15 i.icon-remove:before {
    content: 'x';
    display: inline;
    font-style: normal;
}

#pspc-product.ps15 .label,
#pspc-category.ps15 .label,
#pspc-manufacturer.ps15 .label {
    display: inline-block;
    padding: 3px 7px;;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: white;
}
#pspc-product.ps15 .label.label-default,
#pspc-category.ps15 .label-default,
#pspc-manufacturer.ps15 .label-default {
    background: #999999;
}
#pspc-product.ps15 .label.label-success,
#pspc-category.ps15 .label-success,
#pspc-manufacturer.ps15 .label-success {
    background: #72C279;
}
#pspc-product.ps15 .label.label-primary,
#pspc-category.ps15 .label-primary,
#pspc-manufacturer.ps15 .label-primary {
    background: #00aff0;
}
#pspc-product.ps15 .label.label-danger,
#pspc-category.ps15 .label-danger,
#pspc-manufacturer.ps15 .label-danger {
    background: #E08F95;
}
#pspc-product.ps15 .icon-remove,
#pspc-category.ps15 .icon-remove,
#pspc-manufacturer.ps15 .icon-remove {
    display: inline-block;
    height: 15px;
    width: 5px;
}
#CUSTOM_CSS {
    resize: vertical !important;
    width: 100%;
}
#CUSTOM_JS {
    resize: vertical !important;
    width: 100%;
}
.pspc-edit-field-wrp-inline,
.pspc_personal {
    vertical-align: middle;
}
.btn-delete-expired {
    float: right;
}
#content .pspc-discount-alert {
    cursor: default;
    font-weight: bold;
    position: relative;
    top: 6px;
}
.pspc-tooltip-content {
    display: none;
    position: absolute;
    background-color: #D8EDF7;
    border-radius: 5px;
    padding: 10px;
    color: #2a6283;
    font-size: 12px;
}
#content .ps15 .pspc-discount-alert {
    top: 0;
}
.pstab15 .form-group {
    padding-bottom: 10px;
    overflow: hidden;
}
.pspc15 .pst-tabs-list {
    margin-top: 10px;
}
.pst-tabs-list .list-group-item,
.pst-tabs-list .list-group-item:first-child {
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
}
.pst-tab-content {
    background: white;
    padding: 10px;
    -webkit-border-radius: 0 5px 5px 5px;
    -moz-border-radius: 0 5px 5px 5px;
    border-radius: 0 5px 5px 5px;
    border: 1px solid #DDDDDD;
}
#pspc-wrp .pspc-options-row {
    display: none;
}
.pstg_color_wrp {
    display: inline-block;
    padding-right: 17px;
    padding-left: 2px;
    margin-bottom: 7px;
}
.pstg-tabs .pstg_color_wrp input,
.pstg-tabs .pstg_color_wrp .mColorPickerTrigger {
    width: auto;
    display: inline-block;
}
.pspc-color.hidden {
    display: none;
}
.pspc-reset-colors {
    margin-left: 30px;
}
.pstg-tabs.pspc15 .list-group-item {
    position: relative;
    display: inline-block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}
.pstg-tabs.pspc15 .list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #00aff0;
    border-color: #00aff0;
}
.pstg_color_wrp.hidden {
    display: none;
}
.pspc15 .pspc-colors-wrp {
    clear: right;
    margin-bottom: 10px;
}
.ps15 .action-edit-row .control-label {
    font-weight:normal;
    width: auto;
}
.ps15 .pspc-edit-field-wrp-inline label {
    width: auto;
    font-weight: normal;
}
#pspc-new-block-btn {
    margin-bottom: 5px;
}
#pspc_block_form {
    display: none;
}
.pst-loading {
    position: relative;
}
.pst-loading * {
    opacity: 0.8;
}
.pst-loading:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: url("../img/loadingAnimation.gif") center center no-repeat;
}
#pspc-list-wrp .pspc_edit_row,
#pspc_block-list-wrp .pspc_edit_row,
.pspc_edit_row {
    display: none;
}
.pspc-sub-checkboxes {
    display: none;
    padding-left: 10px;
}
.pspc-sub-checkboxes.pspc-hidden {
    display: none;
}
.btn-toggle-children-sources,
body .bootstrap .btn-toggle-children-sources {
    padding: 1px 3px;
    line-height: 1;
    margin-top: -6px;
    margin-left: 5px;
}


.pbc-autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.pbc-autocomplete-suggestions .autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; cursor: pointer; }
.pbc-autocomplete-suggestions .autocomplete-selected { background: #F0F0F0; }
.pbc-autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.pbc-autocomplete-suggestions .autocomplete-group { padding: 2px 5px; }
.pbc-autocomplete-suggestions .autocomplete-group strong { display: block; border-bottom: 1px solid #000; }



.pspc_more_options_row,
.pspc_more_app_options_row {
    display: none;
}
.
.pspc-themes-wrp > .row {
    display: flex;
    flex-wrap: wrap;
}

.add-countdown-wrp {
    padding-bottom: 10px;
}
#apr-product.loading {
    background-image: url("../img/loader.gif");
    background-position: 99% center;
    background-repeat: no-repeat;
    background-size: 16px;
}
.pspc-list-loading {
    position: relative;
}
.pspc-list-loading:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url("../img/loadingAnimation.gif") no-repeat center center #fff;
    opacity: 0.7;
    z-index: 2;
}
.pspc-checkbox-wrp {
    padding-top: 10px;
}
.countdown-form .control-label sup {
    color: red;
}
.pspc-select-wrp {
    display: none;
    border: 1px solid #dedede;
    padding: 6px 10px 10px;
    margin-top: 10px;
    background: #f3f3f3;
}
.btn-pspc-submit {
    position: relative;
}
.btn-pspc-submit.loading:after {
    content: '';
    display: block;
    position: absolute;
    background: url("../img/loader.gif") no-repeat center center;
    -webkit-background-size: 16px;
    background-size: 16px;
    width: 16px;
    height: 16px;
    left: -23px;
    top: 6px;
}
.btn.pull-right.loading {
    position: relative;
}
.btn.pull-right.loading:before {
    content: '';
    display: block;
    position: absolute;
    background: url("../img/loader.gif") no-repeat center center;
    -webkit-background-size: 16px;
    background-size: 16px;
    width: 16px;
    height: 16px;
    left: -23px;
    top: 33%;
}
.btn-pspc-submit.loading:focus,
.btn-pspc-submit.loading:active {
    outline: none !important;
}
.pspc-select-wrp {
    padding-top: 10px;
}
.pspc_prod_select,
.pspc_prod_selected {
    min-height: 150px;
}
div .pspc-prodselects-wrp .pspc-product-search.loading {
    background-image: url("../img/loader.gif");
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: 99% center;
}
.pspc-filter-wrp {
    display: none;
    padding-top: 2px;
}
.pspc-prodselects-wrp .pspc_btn_rm_prod {
    padding: 0 5px;
}
.pspc_prod_select option:disabled {
    opacity: 0.3;
}
.pspc_prod_select .pspc-default-option:disabled {
    opacity: 0.8;
}
.pspc-prodselects-wrp .pspc_btn_rm_prod {
    padding: 0 5px;
}
.pspc_prod_select option:disabled {
    opacity: 0.3;
}
.pspc_prod_select .pspc-default-option:disabled {
    opacity: 0.8;
}
.pspc-col-filters {
    margin-bottom: 5px;
}
.pspc-category-wrp.pspc-filter-wrp .panel {
    margin: 0;
}
.edit-countdown-wrp .pspc-toggle-options {
    display: block;
    clear: both;
    float: right;
    margin-top: 10px;
}
.edit-countdown-wrp .pspc-items-form-group {
    margin-top: 10px;
}
.edit-countdown-wrp .pspc_customer_personal {
    position: relative;
    top: 10px;
}
.pspc-toggle-category-filter.chosen i,
.pspc-toggle-manufacturer-filter.chosen i {
    color: red !important;
}
.pspc-slider-wrp {
    width: 200px;
    padding-top: 11px;
    display: inline-block;
}
.pspc-br-text {
    display: inline-block;
    margin-left: 10px;
}
#psttab-2 .pspc-list-position-group select {
    display: inline-block;
    width: auto;
    float: none;
}
.pspc-prodselects-wrp .pspc-search-combinations-label {
    font-weight: normal;
    margin-left: 10px;
}
.pspc-prodselects-wrp .pspc-search-combinations-label .pspc-search-combinations {
    vertical-align: top;
}
#content .pspc-select-wrp-categories .panel,
div .pspc-select-wrp-categories .panel,
div .bootstrap .pspc-swap-wrp {
    margin-bottom: 0;
}
.pspc .badge-sec {
    color: #212529;
    background-color: #f8f9fa;
    border: 1px solid;
}
#pspc_block-wrp .pspc-toggle-children-sources {
    padding: 0 4px;
}
#pspc_block-wrp .pspc-children-sources {
    padding-left: 10px;
}
#pspc_block-wrp .pspc-children-sources label {
    padding-top: 3px;
}
#pspc_block-list-wrp .checkbox input {
    position: relative;
    top: 2px;
}
.pspc-item-link-wrp .icon-edit {
    vertical-align: middle;
}
.pspc-items-wrp {
    display: none;
    padding-top: 3px;
}
#pspc-list-wrp .pspc_items_1 {
    display: block;
}
#pspc-list-wrp .pspc-items-text-1 {
    display: none;
}
#pspc-countdown-list .pspc-items-toggle {
    padding: 0 4px;
    margin-left: 4px;
    border: none;
}
.pst_loader {
    background: url("../img/loadingAnimation.gif") center center no-repeat;
    min-height: 15px;
}
.pspc-color-name {
    display: inline-block;
    max-width: 120px;
    vertical-align: middle;
    line-height: 1.1;
}
#pspc-wrp .pspc-cg-label {
    font-weight: normal;
    display: block;
}
#pspc-wrp .pspc-cg-label input {
    position: relative;
    top: 3px;
}
#pspc-wrp .pspc-cg-wrp {
    border-top: 1px solid #ccc;
}
.edit-countdown-wrp .pspc-cg-col {
    padding-top: 8px;
}
.pspc-options .action-row .pspc-action-addon {
    display: none;
}