/* Auto generated from css.tpl */


    
    body .psproductcountdown {
        font-size: 100% !important;
    }
    
    
    body .product_list .psproductcountdown,
    body #product_list .psproductcountdown,
    body .ajax_block_product .psproductcountdown,
    body .product-miniature .psproductcountdown {
        font-size: 100% !important;
    }
    
    
    body #left_column .psproductcountdown, body #right_column .psproductcountdown,
    body #left-column .psproductcountdown, body #right-column .psproductcountdown {
        font-size: 80% !important;
    }
    
    
    .psproductcountdown .pspc_h,
    .psproductcountdown .pspc-offer-ends {
        display: block;
    }
    


            
        #products .psproductcountdown .pspc-main .pspc-time .pspc-count,
        #product .psproductcountdown .pspc-main .pspc-time .pspc-count,
        #product_list .psproductcountdown .pspc-main .pspc-time .pspc-count,
        #js-product-list .psproductcountdown .pspc-main .pspc-time .pspc-count,
        #products .psproductcountdown .pspc-main .pspc-time .pspc-count,
        .psproductcountdown .pspc-main .pspc-time .pspc-count {
            background: rgb(0, 174, 215);
            color: rgb(255, 255, 255);
        }
        
    
            
        #products .psproductcountdown .pspc-main .pspc-time .pspc-count,
        #product .psproductcountdown .pspc-main .pspc-time .pspc-count,
        #product_list .psproductcountdown .pspc-main .pspc-time .pspc-count,
        #js-product-list .psproductcountdown .pspc-main .pspc-time .pspc-count,
        #products .psproductcountdown .pspc-main .pspc-time .pspc-count,
        .psproductcountdown .pspc-main .pspc-time .pspc-count,
        body .psproductcountdown.pspc-show-colon .pspc-main .pspc-count:after {
            color: rgb(255, 255, 255);
        }
        
    
    
        body .psproductcountdown .pspc-main .pspc-highlight .pspc-count {
            color: #f13340 !important;
        }
    
    
            
        body .pspc-offer-ends,
        .psproductcountdown.pspc-long .pspc-main {
            color: rgb(1, 84, 166) !important;
        }
        
    

    body .pspc-main .pspc-label {
        color: rgb(255, 255, 255) !important;
    }




            
        body .product_list .psproductcountdown,
        body #product_list .psproductcountdown,
        body .ajax_block_product .psproductcountdown,
        body .product-miniature .psproductcountdown,
        #product .product_list .psproductcountdown,
        #product #product_list .psproductcountdown,
        #product .ajax_block_product .psproductcountdown,
        #product .product-miniature .psproductcountdown {
            background-color: rgba(255, 255, 255, 0.8) !important;
        }
        
    