.cabecera{
	/*height: 120px !important;*/
}
.info{
	display:inline-block;
	/*float:left;*/
	width: 480px;
}
.info img{
	float:left;
}
.info p{
	float: left;
}
.accesos{
	display:inline-block;
	float:right;
}
.acceso_directo{
	text-align: center;
	display: inline-block;
	/*float:left;*/
	padding:20px;
}
.spacing{
	margin-top:10px;
}