
		#iqitpopup{ width: 650px; height: 500px; }

		#iqitpopup {
		background-color: #ffffff;
		
		background-repeat: no-repeat !important;
	}
		#iqitpopup .iqitpopup-content{ color: #777777;
		}

		#iqitpopup .iqitpopup-newsletter-form{ color: #0154a6; background-color: #fff;

		
		background-repeat: no-repeat !important;
		}

		#iqitpopup .iqitpopup-newsletter-form .newsletter-input{
		color: #0154a6; background-color: #fff;
		}

		#iqitpopup .iqitpopup-newsletter-form .newsletter-inputl:-moz-placeholder {
  color: #0154a6 !important;}
#iqitpopup .iqitpopup-newsletter-form .newsletter-input::-moz-placeholder {
  color: #0154a6 !important;}
#iqitpopup .iqitpopup-newsletter-form .newsletter-input:-ms-input-placeholder {
  color: #0154a6 !important; }
#iqitpopup .iqitpopup-newsletter-form .newsletter-input::-webkit-input-placeholder {
  color: #0154a6 !important; }

		