{*
* 2017 IQIT-COMMERCE.COM
*
* NOTICE OF LICENSE
*
* This file is licenced under the Software License Agreement.
* With the purchase or the installation of the software in your application
* you accept the licence agreement
*
* @author    IQIT-COMMERCE.COM <support@iqit-commerce.com>
* @copyright 2017 IQIT-COMMERCE.COM
* @license   Commercial license (You can not resell or redistribute this software.)
*
*}


<section class="crossselling-products block block-section">
    <h4 class="section-title"><span>{l s='Reviews' d='Modules.Iqitreviews.Product-reviews-footer'}</span>
    </h4>
    <div class="block-content">
        {include file="module:iqitreviews/views/templates/hook/product-reviews.tpl"}
    </div>
</section>

